#{extends 'PrinterController/ticket_160mm.html' /}
<img  src="../public/images/${play.configuration['style.logo']}">
<h3 style="width: 90%; font-weight: bold;">
    &{ 'application.thanks', providerCode }
</h3>
<br>
#{if ( deposit.findUserCodeLov() ) }
&{ 'counting_page.reference1_title' }: ${deposit.findUserCodeLov()}<br>
#{/if}
#{if ( deposit.userCode ) }
&{ 'counting_page.reference2_title' }: ${deposit.userCode}<br>
#{/if}
&{ 'summary.total' }: ${depositTotal} ${deposit.getCurrency().description}<br>
&{ 'summary.transaction_code' }: ${deposit.depositId}<br>
&{ 'summary.user_gecos' }: ${deposit.user.username}<br>
&{ 'summary.user_gecos' }: ${deposit.user.gecos}<br>
&{ 'summary.client_code' }: ${clientCode}<br>
&{ 'summary.branch_code' }: ${branchCode}<br>
&{ 'summary.machine_code' }: ${machineCode}<br>
#{if reprint } 
&{ 'summary.reprint' }<br>
#{/if}
#{ bills_table_printer bill_data: billData /}
${ deposit.finishDate?.format('dd/MM/yyyy hh:mm:ss') }&nbsp;S.E.U.O.
