#{extends 'PrinterController/ticket_160mm.html' /}
<center><img src="../public/images/${play.configuration['style.plogo']}"></center>
<h3 style="margin-left: -30; text-align: justify; width: 70%; font-weight: bold;">
    &{ 'application.thanks', providerCode }
</h3>
#{if reprint } 
<b>&{ 'summary.reprint' }</b><br/>
#{/if}
#{if ( showReference1 ) }
#{if ( deposit.findUserCode() ) }
&{ 'counting_page.reference1_title' }: ${deposit.findUserCode()}<br>
#{/if}
#{/if}
#{if ( showReference2 ) }
#{if ( deposit.userCode ) }
&{ 'counting_page.reference2_title' }: ${deposit.userCode}<br>
#{/if}
#{/if}
&{ 'summary.total' }: ${depositTotal} ${deposit.getCurrency().description}<br>
&{ 'summary.transaction_code' }: ${deposit.depositId}<br>
&{ 'summary.username' }: #{usernameTag user:deposit.user/}<br>
&{ 'summary.client_code' }: #{if play.configuration['style.useGecosAsClientCode']}${deposit.user.gecos}#{/if}#{else}${clientCode}#{/else}<br>
&{ 'summary.branch_code' }: ${branchCode}<br>
&{ 'summary.machine_code' }: ${machineCode}<br>
#{list items:billData.currencies, as:'currency'}
<table border="0" cellpadding="0">
    <thead>
        <tr>
            <th style="text-align: left;">&{ 'counting_page.denomination' }</th>
            <th style="text-align: center;">&{ 'counting_page.quantity' }</th>
            <th style="text-align: center;">&{ 'counting_page.total' }</th>
        </tr>
    </thead>
    <tbody>
        %{ total = 0; cnt_total = 0;}%
        #{list items:billData.getDetail( currency ), as:'b'}
        <tr class="BTRID_${b.key}">
            <td style="text-align: left;"id="bill_denomination">${b.denomination} ${b.currency.textId}</td>
            <td style="text-align: center;" class="bill_quantity">${b.quantity}</td>
            <td style="text-align: center;" class="bill_total">${b.ammount}</td>
            %{ total += b.ammount; cnt_total += b.quantity; }%
        </tr>
        #{/list}
    </tbody>

    <tfoot>
        <tr style="text-align: center;">
            <td><b>&{ 'counting_page.totals' }</b></td>
            <td id ="cnt_total"><b>${ cnt_total }</b></td>
            <td id ="total"><b>${ total }</b></td>
        </tr>
    </tfoot>
</table>
#{/list}
${ deposit.finishDate?.format('dd/MM/yyyy HH:mm:ss') }${ticketFooter}
