#{extends 'PrinterController/ticket_160mm.html' /}
<img src="../public/images/${play.configuration['style.plogo']}">
<h3 style="margin-left: -30; text-align: justify; width: 70%; font-weight: bold;">
    &{ 'application.thanks', providerCode }
</h3>
<br>
#{if ( deposit.findUserCode() ) }
&{ 'counting_page.reference1_title' }: ${deposit.findUserCode()}<br>
#{/if}
#{if ( deposit.userCode ) }
&{ 'counting_page.reference2_title' }: ${deposit.userCode}<br>
#{/if}
&{ 'summary.total' }: ${depositTotal} ${deposit.getCurrency().description}<br>
&{ 'summary.transaction_code' }: ${deposit.depositId}<br>
&{ 'summary.username' }: #{usernameTag user:user/}<br>
&{ 'summary.client_code' }: ${clientCode}<br>
&{ 'summary.branch_code' }: ${branchCode}<br>
&{ 'summary.machine_code' }: ${machineCode}<br>
#{if reprint } 
&{ 'summary.reprint' }<br>
#{/if}
<table border="0" cellpadding="0">
    <thead>
        <tr>
            <th>&{ 'counting_page.denomination' }</th>
            <th>&{ 'counting_page.quantity' }</th>
            <th>&{ 'counting_page.total' }</th>
        </tr>
    </thead>
    <tbody>
        %{ total = 0; cnt_total = 0;}%
        #{list items:billData, as:'b'}
        <tr id="BTRID_${b.tid}"  style="text-align: center;">
            <td id="bill_denomination">${b.d} &{b.c}</td>
            <td id="bill_quantity">${b.q}</td>
            <td id="bill_total">${b.d  * b.q}</td>
            %{ total += b.d  * b.q; cnt_total += b.q }%
        </tr>
        #{/list}
    </tbody>

    <tfoot>
        <tr style="text-align: center;">
            <td><b>&{ 'counting_page.totals' }</b></td>
            <td id ="cnt_total"><b>${ cnt_total }</b></td>
            <td id ="total"><b>${ total }</b></td>
        </tr>
    </tfoot>
</table>
${ deposit.finishDate?.format('dd/MM/yyyy HH:mm:ss') }&nbsp;S.E.U.O.
