#{extends 'PrinterController/ticket_160mm.html' /}
<img src="../public/images/${play.configuration['style.plogo']}">
<div style="width: 70mm;">
Contenido del cierre contable iniciado el ${ z.creationDate.format('dd/MM/yyyy hh:mm:ss') } y 
#{ if z.closeDate == null }aun no cerrado#{/if}
#{ else }cerrado el ${ z.closeDate.format('dd/MM/yyyy hh:mm:ss') }#{/else}
</div>
<br>
#{ bills_table_printer bill_data: totals._4 /}
Total de efectivo ${ totals._1 }<br>
Total de sobres ${ totals._2 }<br>
Total de depositos ${ totals._3 }<br>
${ currentDate.format('dd/MM/yyyy hh:mm:ss') }&nbsp;S.E.U.O.