#{extends 'PrinterController/ticket_160mm.html' /}
<h3 style="width: 60mm;">&{ 'envelope_deposit.put_ticket_in_envelope' }</h3>

#{if reprint } 
&{ 'summary.reprint' }
#{/if}

#{if ( deposit.findUserCodeLov() ) }
&{ 'counting_page.reference1_title' }: ${deposit.findUserCodeLov()}<br>
#{/if}
#{if ( deposit.userCode ) }
&{ 'counting_page.reference2_title' }: ${deposit.userCode}<br>
#{/if}

#{list items:deposit.envelopes, as:'e'}
<div>
    &{ 'envelope_deposit.contents' }<br>
    #{list items:e.envelopeContents, as:'ec'}
    <p style="font-size: smaller">&{ 'envelope_deposit.' + ec.getType().name().toLowerCase() } 
        #{if ( ec.amount > 0 ) }
        ${ ec.amount } ${ ec.getCurrency()?.description }
        #{/if}
    <br>
    #{/list}
</div>
<br/>
&{ 'envelope_deposit.envelope_code' }: ${ e.envelopeNumber }
#{/list}
<br/>
&{ 'summary.transaction_code' }: ${deposit.depositId}<br>
&{ 'summary.user_gecos' }: ${deposit.user.username}<br>
&{ 'summary.user_gecos' }: ${deposit.user.gecos}<br>
&{ 'summary.client_code' }: ${clientCode}<br>
&{ 'summary.branch_code' }: ${branchCode}<br>
&{ 'summary.machine_code' }: ${machineCode}<br>
<br/>
${ deposit.startDate.format('dd/MM/yyyy hh:mm:ss') }&nbsp;S.E.U.O.