#{extends 'PrinterController/ticket_160mm.html' /}
<center><img src="public/images/${play.configuration['style.logo']}"></center>
<p><b>&{ 'application.thanks', providerCode }</b></p>
#{if ( formData.showReference1 ) }
<p>&{ 'counting_page.reference1_title' }: ${formData.reference1.lov}</p>
#{/if}
#{if ( formData.showReference2 && formData.reference2 != "" ) }
<p>&{ 'counting_page.reference2_title' }: ${formData.reference2}</p>
#{/if}
#{if ( formData.cashData.amount > 0 ) }
<p>&{ 'envelope_deposit.amount_cash' }: ${ formData.cashData.amount } ${ formData.cashData.currency.description } </p>
#{/if}
#{if ( formData.checkData.amount > 0 ) }
<p>&{ 'envelope_deposit.amount_checks' }: ${ formData.checkData.amount } ${ formData.checkData.currency.description } </p>
#{/if}
#{if ( formData.ticketData.amount > 0  ) }
<p>&{ 'envelope_deposit.amount_tickets' }: ${ formData.ticketData.amount } ${ formData.ticketData.currency.description } </p>
#{/if}
#{if formData.hasDocuments }
<p>&{ 'envelope_deposit.has_documents' }</p>
#{/if}
#{if formData.hasOthers }
<p>&{ 'envelope_deposit.has_others' }</p>
#{/if}
<br/>
<p>&{ 'envelope_deposit.envelope_code' }: ${ formData.envelopeCode }</p>
<p>&{ 'summary.transaction_code' }: ${deposit.depositId}</p>
<p>&{ 'summary.user_gecos' }: ${deposit.user.username}</p>
<p>&{ 'summary.user_gecos' }: ${deposit.user.gecos}</p>
<p>&{ 'summary.client_code' }: ${clientCode}</p>
<p>&{ 'summary.branch_code' }: ${branchCode}</p>
<p>&{ 'summary.machine_code' }: ${machineCode}</p>
<br/>
${ deposit.finishDate?.format('dd/MM/yyyy hh:mm:ss') }&nbsp;S.E.U.O.
