#{extends 'PrinterController/ticket_160mm.html' /}
<h3 style="margin-left: -30; text-align: justify; width: 70%; font-weight: bold;">
    &{ 'envelope_deposit.put_ticket_in_envelope' }
</h3>
#{if reprint } 
<b>&{ 'summary.reprint' }</b><br/>
#{/if}
#{if ( showReference1 ) }
#{if ( deposit.findUserCode() ) }
&{ 'message.reference1_title' }: ${deposit.findUserCode()}<br>
#{/if}
#{/if}
#{if ( showReference2 ) }
#{if ( deposit.userCode ) }
&{ 'message.reference2_title' }: ${deposit.userCode}<br>
#{/if}
#{/if}

#{list items:deposit.envelopes, as:'e'}
<div>
    &{ 'envelope_deposit.contents' }<br>
    #{list items:e.envelopeContents, as:'ec'}
    <div>&{ 'envelope_deposit.' + ec.getType().name().toLowerCase() } 
        #{if ( ec.amount > 0 ) }
        ${ ec.amount } ${ ec.getCurrency()?.description }
        #{/if}
    </div>
    #{/list}
</div>
<br/>
&{ 'envelope_deposit.envelope_code' }: ${ e.envelopeNumber }
#{/list}
<br/>
&{ 'summary.transaction_code' }: ${deposit.depositId}<br>
&{ 'summary.username' }: #{usernameTag user:deposit.user/}<br>
&{ 'summary.client_code' }: #{if play.configuration['style.useGecosAsClientCode']}${deposit.user.gecos}#{/if}#{else}${clientCode}#{/else}<br>
&{ 'summary.branch_code' }: ${branchCode}<br>
&{ 'summary.machine_code' }: ${machineCode}<br>
<br/>
${ deposit.startDate.format('dd/MM/yyyy HH:mm:ss') }&nbsp;S.E.U.O.