#{extends 'main.html' /}
#{set title:'Otras operaciones' /}
<section>
    <header></header>
    <nav>
        <a href="@{MenuController.hardwareMenu(1)}" class="boton_top">◄ &{ 'application.back' }</a>
    </nav>
    <article>
        <h1 class="casa">&{'application.printers'}</h1>
        <div class="contenido">
            <div class="mensaje"><span>&{'application.choose_one'}</span></div>
            <table class="full_width">
                <thead>
                    <tr>
                        <th>&{ 'application.printers' }</th>
                    </tr>
                </thead>
                <tbody>
                    #{list items:printers, as:'b'}
                    <tr >
                        <td>${b.name}</td>
                    </tr>
                    #{/list}
                </tbody>
            </table>
            <p>Current : ${currentPrinter.getPort()}</p>
            <p>Status : ${printerStatus.getPrinterState()} ${printerStatus.getStateDesc()} ${printerStatus.getError()}</p>
        </div>
        <hr />
        #{menuBottomButtons}&nbsp;#{/menuBottomButtons}
    </article>
</section>