#{extends 'reportList.html' /}
#{set title: 'List Bags' /}
<table style="margin-left: auto; margin-right: auto; border: 1px solid;">
    <thead>
    <th>Transaccion</th>
    <th>Fecha de la bolsa</th>
    <th>Fecha retiro de bolsa</th>
    <th>Total de depositos</th>
    <th>Total de sobres</th>
    <th>Total de billetes</th>
    <th>Total de efectivo &nbsp; / &nbsp; billetes</th>
    <th colspan="2">Acciones</th>
</thead>
<tbody>
    #{list items:data, as:'bag' }
    #{if ( ! bag.withdrawDate ) } 
    <tr style="background-color: lightpink;">
        #{/if}
        #{else}
    <tr style="background-color: lightgreen;">
        #{/else}
        <td>${bag.bagId} </td>
        <td>${bag.creationDate?.format('dd/MM/yyyy HH:mm:ss')}</td>
        <td style="width:180px;">
            ${bag.withdrawDate?.format('dd/MM/yyyy HH:mm:ss')}
        </td>
        <td style="width:100px;">
            ${bag.getTotals()._1}
        </td>
        <td style="width:100px;">
            ${bag.getTotals()._2}
        </td>
        <td style="width:100px;">
            ${bag.getTotals()._3}
        </td>
        <td style="width:350px;">
            #{list items:bag.getTotals()._4.keySet(), as:'currency'}
            ${ bag.getTotals()._4.get( currency ).a } &nbsp; / &nbsp; ${ bag.getTotals()._4.get( currency ).q } &nbsp; ${ currency }<br>
            #{/list}
        </td>
        <td style="background-color: lightblue; border: 1px solid;">
            <a id="${ bag.bagId }" href="@{detail}" class="submitForm">Detalle</a>
        </td>
        <td style="background-color: lightblue; border: 1px solid;">
            <a id="${ bag.bagId }" href="@{reprint}" class="submitForm">Reimprimir Ticket</a>
        </td>
    </tr>
    #{/list}
</tbody>
<tfoot> 
    <tr>
        <td colspan="3" style="text-align: left;">Cantidad de bolsas: ${cnt}</td>
        <td colspan="5" style="text-align: right;">Pagina : ${page} de ${totalPage}</td>
    </tr>
</tfoot>
</table>
