#{extends 'main.html' /}
#{set title:'Glory (Manager)' /}
<section>
    <header>
    </header>
    <nav>
        <a id ="backButton" href="@{DeviceController.commands(deviceId)}" class="boton_top">◄ &{ 'application.back' }</a>
    </nav>
    <article>
        #{form @count(deviceId) }
        <ul class="columns">
            <li class="on-2 column">
                <div class="columna">
                    <label for="currency">Currency</label>
                    <select id="currency" name="currency" class="full_width">
                        #{list items:currencyList, as:'b'}
                        #{if ( b == 0 ) }
                        <option value="0" #{if ( b == currency )}selected="selected"#{/if}>-</option>
                        #{/if}
                        #{else}
                        <option value="${b}" #{if ( b == currency )}selected="selected"#{/if}>${b}</option>
                        #{/else}
                        #{/list}
                    </select>
                    <button type="submit" class="boton ${play.configuration['style.button_color']} full_width">Count</button>
                    <a class="boton ${play.configuration['style.button_color']} full_width" href="@{cancelDeposit(deviceId)}">CancelDeposit</a>
                    <a class="boton ${play.configuration['style.button_color']} full_width" href="@{storeDeposit(deviceId)}">StoreDeposit</a>
                    <a class="boton ${play.configuration['style.button_color']} full_width" href="@{withdrawDeposit(deviceId)}">WithdrawDeposit</a>
                    <a class="boton ${play.configuration['style.button_color']} full_width" href="@{reset(deviceId)}">Reset</a>
                    <a class="boton ${play.configuration['style.button_color']} full_width" href="@{storingErrorReset(deviceId)}">StoringErrorReset</a>
                    <a class="boton ${play.configuration['style.button_color']} full_width" href="@{collectBag(deviceId)}">Collect</a>
                    <a class="boton ${play.configuration['style.button_color']} full_width" href="@{envelopeDeposit(deviceId)}">EnvelopeDeposit</a>
                </div>
            </li>
            <li class="on-2 column">
                <div class="columna" style="height: 100%; padding: 20px;">
                    <div>
                        <p>ERROR:<span id="errorMsg">${error}</span></p>
                    </div>
                    <div style="overflow-y: scroll; height: 400px;">
                        <p>LAST RESULT:<span style="word-wrap: break-word;" id="statusMsg">${status}</span></p>
                    </div>
                </div>
            </li>
        </ul>
        #{/form}
    </article>
</sction>


#{set 'moreStyles'}
<style>
    input[type='text'], input[type='password'], input[type='number'], textarea {
        padding: 0px;
        font-size: 10pt;
        margin-bottom: 0px;
    }

    table thead tr th {
        padding: 0px;
        font-size: 10pt;
        margin-bottom: 0px;
    }

    table tbody tr td {
        padding: 0px;
        font-size: 10pt;
        margin-bottom: 0px;
    }

    table tfoot tr td {
        padding: 0px;
        font-size: 10pt;
        margin-bottom: 0px;
    }
</style>
#{/set}
#{set 'moreScripts'}
<script type="text/javascript" charset="${_response_encoding}">
    var waiting = false;

    // Reload the whole messages panel
    function refresh() {
        if (waiting) {
            return;
        }
        waiting = true;
        $.getJSON('@{counterClassCommands(deviceId, currency)}', function(data) {
            waiting = false;
            var error = data[0];
            if (error == null || error.toString() == 'null') {
                $("#errorMsg").html("NONE");
            } else {
                $("#errorMsg").html(error);
            }
            var status = data[1];
            if (status) { // only if status is available
                status = JSON.stringify(status) + "<br/>" + $("#statusMsg").html();
                $("#statusMsg").html(status);
                $("currency").html(data[ 2 ]);
                var slots = data[ 3 ];
                var current = data[ 4 ];
                var desired = data[ 5 ];
                for (var i = 0; i < slots.length; i++) {
                    var s = slots[ i ];
                    var nid = '#CID_' + s;
                    $(nid).html(current[ s ]);
                    if (current[ s ] > 0) {
                        $(nid).css('color', 'red');
                    } else {
                        $(nid).css('color', 'grey');
                    }

                    var nid = '#DID_' + s;
                    if (desired[ s ] > 0) {
                        $(nid).val(desired[ s ]);
                        $(nid).css('color', 'red');
                    } else {
                        $(nid).css('color', 'grey');
                    }
                }
            }
        })
    }
    // Call refresh every 1.5 seconds
    setInterval(refresh, 500);
    refresh();
</script>
#{/set}



