#{extends 'main.html' /}
#{set title:'Estado' /}
<section id="counterError">
    <header></header>
    <article>
        #{if ( isError ) }
        <h2 class="" id="errorStr">${errorStr}</h2>
        #{/if}
        #{else}
        <h2 class="">&{ 'application.wait' }</h2>
        #{/else}
        <div class="contenido"  style="overflow-y: auto;">
            #{if ( isError ) }
                <div style="margin: 30px;">
                    <p id="errorCode">
                        &{ 'application.error_code' }&nbsp;:&nbsp;${errorCode}
                    </p>
                </div>
                #{if ( controllers.Secure.checkPermission( 'Application.reset', 'GET' ) || controllers.Secure.checkPermission( 'Application.storingReset', 'GET' ) ) }
                <!-- admin -->
                <div class="botonera">
                    <ul class="on-2 unit">
                        <li class="column">
                            <div class="columna">
                                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{reset}">Reset</a>
                            </div>
                        </li>
                    </ul>
                </div>
                #{/if}
            #{/if}
        </div>
        <hr />
        <div class="botonera">
            <ul class="on-2 unit">
                <li class="column">
                    <div class="columna">
                        <!-- link cancelar -->
                        <a href="@{Application.index()}" class="boton gris full_width">&{ 'main_menu.title' }</a>
                    </div>
                </li>
                <li class="column">
                    <div class="columna">
                        #{if ( controllers.Secure.getCurrentUser() != null && ! controllers.Secure.getCurrentUser().isGuest() ) }
                        <a href="@{ Secure.logout( "Application.index" ) }" class="boton verde full_width">&{'main_menu.logout'}</a>
                        #{/if}
                        #{else}
                        <a href="@{ Secure.login}" class="boton verde full_width">&{'main_menu.login'}</a>
                        #{/else}
                    </div>
                </li>
            </ul>
        </div>
    </article>
</section>

#{set 'moreScripts'}
<script type="text/javascript" charset="${_response_encoding}">
//    var waiting = false;
//
//    // Reload the whole messages panel
//    function refresh() {
//        if (waiting) {
//            return;
//        }
//        waiting = true;
//        $.getJSON('@{onError}', function(data) {
//            waiting = false;
//            var error = data[ 0];
//            $("errorStr").html(data[1]);
//            $("errorCode").html(data[2]);
//            if (!error) {
//                window.location.href = "@{MenuController.MainMenu(null)}";
//            }
//            //$( '#gstatus' ).html(  data[ 0 ] );
//            //$( '#gerror' ).html(  data[ 1 ] );
//        });
//    }
//    setInterval(refresh, 500);
//    refresh();

</script>
#{/set}
