#{extends 'main.html' /}
#{set depositTitle:'Home' /}
<section id ="menu_principal">
    <header></header>
    <a href="@{Application.otherMenu}" class="boton_top">◄ &{ 'application.back' }</a>
    <article>
        <div class="botonera" style="height: 550px;">
            <ul class="on-2 columns">
                #{otherMenuButton resource: 'ReportController.unprocessedDeposits', operation: 'GET', title: 'unprocessedDeposits' /}
            </ul>           
            <ul class="on-2 columns">
                #{otherMenuButton resource: 'ReportController.unprocessedBags', operation: 'GET', title: 'unprocessedBags' /}
            </ul>
        </div>
    </article>
</section>