#{if ( play.configuration[ 'style.useHardwareKeyboard' ] ) }
<div>
</div>
#{/if}
#{else}
<div class="keyboard">
    <ul class="on-3 same-height columns">
        <li class="column"><span><a class="element key" data-key="7">7</a></span></li>
        <li class="column"><span><a class="element key" data-key="8">8</a></span></li>
        <li class="column"><span><a class="element key" data-key="9">9</a></span></li>
        <li class="column"><span><a class="element key" data-key="4">4</a></span></li>
        <li class="column"><span><a class="element key" data-key="5">5</a></span></li>
        <li class="column"><span><a class="element key" data-key="6">6</a></span></li>
        <li class="column"><span><a class="element key" data-key="1">1</a></span></li>
        <li class="column"><span><a class="element key" data-key="2">2</a></span></li>
        <li class="column"><span><a class="element key" data-key="3">3</a></span></li>
        <li class="column"><span><a class="element key" data-key="0">0</a></span></li>
        <li class="column"><span><a class="element key" data-key=".">.</a></span></li>
        <li class="column"><span><a class="element key" data-key="{backspace}">←</a></span></li>
    </ul>
</div>
#{/else}
#{if 0 }
<div class="keyboard">
    <ul class="on-4 same-height columns">
        <li class="column"><span><a class="element key" data-key="7">7</a></span></li>
        <li class="column"><span><a class="element key" data-key="8">8</a></span></li>
        <li class="column"><span><a class="element key" data-key="9">9</a></span></li>
        <li class="column"><span><a class="element key" data-key="{backspace}">←</a></span></li>
        <li class="column"><span><a class="element key" data-key="4">4</a></span></li>
        <li class="column"><span><a class="element key" data-key="5">5</a></span></li>
        <li class="column"><span><a class="element key" data-key="6">6</a></span></li>
        <li class="column"><span><a class="element key" data-key="/">/</a></span></li>
        <li class="column"><span><a class="element key" data-key="1">1</a></span></li>
        <li class="column"><span><a class="element key" data-key="2">2</a></span></li>
        <li class="column"><span><a class="element key" data-key="3">3</a></span></li>
        <li class="column"><span><a class="element key" data-key="-">-</a></span></li>
        <li class="column"><span><a class="element key" data-key="0">0</a></span></li>
        <li class="column"><span><a class="element key" data-key=".">.</a></span></li>
        <li class="span-2 column"><span><a class="element key" data-key=" ">&{ 'keyboard.space' }</a></span></li>
    </ul>
</div>
#{/if}