.*~$
archive.pwd
.classpath
dist
doc/schema.architect~
eclipse
.history
logs/*
pic/nbproject/private
pic/tags
play/nbproject/private
play/precompiled
/PlayRunner/build/
PlayRunner/nbproject/private
.project
project/project
project/target
.settings
target
test-result/*
tmp
