logs/*
play/precompiled
test-result/*
project/project
project/target
nbproject
target
tmp
.history
dist
doc/schema.architect~
.classpath
.project
.settings
.*~$
eclipse
modules
archive.pwd
/PlayRunner/build/
