#{extends 'main.html' /}
#{set title:'Doing transaction..' /}


<section id="depositar_efectivo_02">
    <header></header>
    <!-- link volver -->
    <a id ="backButton" href="#" class="boton_top">◄ &{ 'application.back' }</a>
    <!-- /link volver -->
    <article>
        <h1 class="contar_dinero">&{ 'main_menu.count' }</h1>

        <div class="contenido">
            <ul class="columns">
                <li class="fixed column" style="width: 45%">
                    <div class="columna_1">
                        <!-- resumen de datos -->
                        <p>&{ 'message.currency_title' }: ${currency}</p>
                        <p>&{ 'message.client_code_title' }: #{if play.configuration['style.useGecosAsClientCode']}${user.gecos}#{/if}#{else}${clientCode}#{/else}</p>
                        <p>&nbsp;</p>
                        <!-- /resumen de datos -->
                        <div id="info_message" style="color: green;"> 
                        </div>
                </li>
                <li class="fixed column" style="width: 55%">
                    <table class="full_width">
                        <thead>
                            <tr>
                                <th>&{ 'message.denomination' }</th>
                                <th>&{ 'message.quantity' }</th>
                                <th>&{ 'message.total' }</th>
                            </tr>
                        </thead>

                        <tbody>
                            <!-- detalle de billetes -->
                            %{ total = 0; cnt_total = 0;}%
                            #{list items:billData, as:'b'}
                            <tr id="BTRID_${b.tid}">
                                <td id="bill_denomination">${b.d}</td>
                                <td id="bill_quantity">${b.q}</td>
                                <td id="bill_total">${b.d * b.q}</td>
                                %{ total += b.d * b.q; cnt_total += b.q }%
                            </tr>
                            #{/list}
                            <!-- /detalle de billetes -->
                        </tbody>

                        <tfoot>
                            <tr>
                                <td>&{ 'message.totals' }</td>
                                <!-- totales -->
                                <td id ="cnt_total">${ cnt_total }</td>
                                <td id ="total">${ total }</td>
                                <!-- /totales -->
                            </tr>
                        </tfoot>
                    </table>
                </li>
            </ul>
        </div>
        <div class="botonera">
            <ul class="columns">
                <li class="fixed column" style="width: 50%">
                    <!-- link cancelar -->
                    <a id ="cancelButton" href="#" class="boton rojo">&{ 'application.cancel' }</a>
                    <!-- /link cancelar -->
                </li>
                <li class="fixed column" style="width: 50%">
                    <div class="columna_2">
                        <!-- link continuar -->
                        <a id ="continueButton" href="#" class="boton gris">&{ 'application.finish' }</a>
                        <!-- /link continuar -->
                    </div>
                </li>
            </ul>
        </div>
    </article>
</section>

#{set 'moreScripts'}
<script type="text/javascript" charset="${_response_encoding}">
    var waiting = false;
    var lastStatus = false;
    
    // Reload the whole messages panel
    function refresh() {
        if ( waiting ) {
            return;
        }
        waiting = true;
        $.getJSON( '@{mainLoop}', function( data ) {
            waiting = false;
            var status = data[ 0 ];
            var billData = data[ 1 ];
            if ( status != null && status.toString() != 'null' ) {
                $( '#info_message' ).html(  data[ 2 ] );
                if ( status == 'IDLE' || status == 'CANCELING' || status == 'ESCROW_FULL' ) {
                } else if ( status == 'FINISH' ) {
                    window.location.href = "@{finish}";
                    return;
                } else if ( status == 'READY_TO_STORE' ) {
                    $( '#continueButton' ).attr( { 'class' : 'boton ${play.configuration['style.button_color']}'});
                } else if ( status == 'ERROR' ) {
                    window.location.href = "@{counterError()}";
                } else {          
                    alert( "Invalid status : " + status + " last status : " + lastStatus );
                }
                lastStatus = status
            }
            var total = 0;
            var cnt_total = 0;
            for( var i = 0 ; i < billData.length; i ++ ) {
                var nid = '#BTRID_' + billData[ i ].tid;
                $( nid ).children( '#bill_denomination' ).html( billData[ i ].d );
                $( nid ).children( '#bill_quantity' ).html( billData[ i ].q );
                var t = ( billData[ i ].d * billData[ i ].q );
                $( nid ).children( '#bill_total' ).html( t );
                total += t;
                cnt_total += billData[ i ].q;
            }
            $( '#cnt_total' ).html( cnt_total );
            $( '#total' ).html( total );
        }).fail( function() { window.location.href = "@{Secure.login()}" } );
    }
    
    $( '#cancelButton' ).click( function(event) {
        $.getJSON( '@{cancel()}', function( data ) {});
    });
            
    $( '#continueButton' ).click( function(event) {
        if ( lastStatus == 'ESCROW_FULL' ) {
            $.getJSON( '@{accept()}', function( data ) {});
        } else if ( lastStatus == 'READY_TO_STORE' ) {
            $.getJSON( '@{accept()}', function( data ) {});
        } else {
            alert( "Invalid last status : " + lastStatus );
        }
    });
    
    // Call refresh every 1.5 seconds
    setInterval(refresh, 500);
    refresh();
</script>
#{/set}
