#{extends 'main.html' /}
#{set title:'Login' /}
<section id ="login">
    <header></header>


    <a href="@{Application.index}" class="boton_top">◄ &{ 'application.back' }</a>
    <article>

        <h1 class="candado">&{'secure.title'}</h1>
        <div class="mensaje"><span>&{'secure.continue_message' }</span></div>
        #{form @authenticate() }       
        <input type="text" placeholder="&{'secure.username'}"  class="keyboard_alpha keyboard_default" name="username"/>
        <input type="password" placeholder="&{'secure.password'}" class="keyboard_alpha" name="password"/>
        <a href="#">&{'secure.pass_forget'}</a>
        <div id="keyboard_placeholder"></div>
        <button type="submit" class="btn" >&{'secure.signin'}</button>
        <a href="${lastUrl}"><input type="button" name="cancel" value="Cancel" class="btn" /></a>
        #{/form}
    </article>
</section>
