#{extends 'reportDetail.html' /}
#{set title: 'current Deposit Totals' /}
<div class="contenido_grande">
    <ul class="columns">
        <li class="fixed column" style="width: 45%">
            <div class="columna_1">
                <!-- resumen de datos -->
                <p style="font-size: larger;">&{ 'summary.user_gecos' }&nbsp;${deposit.user?.username}</p>
                <p style="font-size: larger;">${deposit.user?.gecos}</p>
                <p>&{ 'counting_page.currency_title' }: ${deposit.getCurrency().description}</p>
                <p>&{ 'counting_page.reference1_title' }: ${deposit.findUserCode()}</p>
                <p>&{ 'counting_page.reference2_title' }: ${deposit.userCode}</p>
                <p>&{ 'counting_page.client_code_title' }: ${clientCode}</p>
                <p>&nbsp;</p>
            </div>
        </li>
        <li class="fixed column" style="width: 55%">
            <table class="full_width">
                <thead>
                    <tr>
                        <th>&{ 'counting_page.denomination' }</th>
                        <th>&{ 'counting_page.quantity' }</th>
                        <th>&{ 'counting_page.total' }</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- detalle de billetes -->
                    %{ total = 0; cnt_total = 0;}%
                    #{list items:billData, as:'b'}
                    <tr class="BTRID_${b.tid}">
                        <td class="bill_denomination">${b.d}</td>
                        <td class="bill_quantity">${b.q}</td>
                        <td class="bill_total">${b.d  * b.q}</td>
                        %{ total += b.d  * b.q; cnt_total += b.q }%
                    </tr>
                    #{/list}
                    <!-- /detalle de billetes -->
                </tbody>

                <tfoot>
                    <tr>
                        <td>&{ 'counting_page.totals' }</td>
                        <!-- totales -->
                        <td class ="cnt_total">${ cnt_total }</td>
                        <td class ="total">${ total }</td>
                        <!-- /totales -->
                    </tr>
                </tfoot>
            </table>
        </li>
    </ul>
</div>

