#{extends 'main.html' /}
<section>
    <header></header>
    <a href="#" class="boton_top clickBack">◄ &{ 'application.back' }</a>
    <article>
        <div class="contenido_grande">
            <ul class="columns">
                <li class="column">
                    <p>&{ 'message.client_code_title' }: #{if play.configuration['style.useGecosAsClientCode']}${user.gecos}#{/if}#{else}${clientCode}#{/else}</p>
                    #{if ( deposit.findUserCode() ) }
                    <p>&{ 'message.reference1_title' }: ${deposit.findUserCode()}</p>
                    #{/if}
                    #{if ( deposit.userCode ) }
                    <p>&{ 'message.reference2_title' }: ${deposit.userCode}</p>
                    #{/if}
                    #{list items:deposit.envelopes, as:'e'}
                    <div>
                        <p>&{ 'envelope_deposit.contents' }<br>
                        #{list items:e.envelopeContents, as:'ec'}
                        &{ 'envelope_deposit.' + ec.getType().name().toLowerCase() } 
                            #{if ( ec.amount > 0 ) }
                            ${ ec.amount } ${ ec.getCurrency()?.description }
                            #{/if}
                        <br>
                        #{/list}
                        </p>
                    </div>
                    <br/>
                    &{ 'envelope_deposit.envelope_code' }: ${ e.envelopeNumber }
                    #{/list}
                </li>
            </ul>
        </div>
    </article>
</section>
#{set 'moreScripts'}
<script type="text/javascript" charset="${_response_encoding}">
    $(function() {
        $( ".clickBack" ).click( function( e ) {
            {
                var defaultLocation = "${ backUrl }";
                var oldHash = window.location.hash;
                
                history.back(); // Try to go back
                
                var newHash = window.location.hash;
                
                if( newHash === oldHash &&
                    (typeof(document.referrer) !== "string" || document.referrer  === "")){
                    window.location.href = defaultLocation;
                }
                //e.preventDefault();
                return false; // stop event propagation and browser default event
            }
        });
    });
</script>

#{/set}
