#{extends 'main.html' /}
#{set title:'Glory (Comandos)' /}
<section>
    <header>
    </header>
    <article>

        <!-- link volver -->
        <a id ="backButton" href="@{MenuController.hardwareMenu(1)}" class="boton_top">◄ &{ 'application.back' }</a>
        <!-- /link volver -->
        <ul class="columns">
            <li class="fixed column" style="width: 2%">
                &nbsp;
            </li>
            <li class="fixed column" style="width: 20%">
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.sense()}">Sense</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.remoteCancel()}">remoteCancel</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.setDepositMode()}">setDepositMode</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.batchDataTransmition()}">batchDataTransmition</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.stopCounting()}">stopCounting</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.countingDataRequest()}">countingDataRequest</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.amountRequest()}">amountRequest</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.setManualMode()}">setManualMode</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.setCollectMode()}">setCollectMode</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.setErrorRecoveryMode()}">setErrorRecoveryMode</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.resetDevice()}">resetDevice</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.setStroringErrorRecoveryMode()}">StroringErrorRecovery</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.openEscrow()}">openEscrow</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.closeEscrow()}">closeEscrow</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.storingStart()}">storingStart</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.denominationDataRequest()}">denominationData</a>
            </li>
            <li class="fixed column" style="width: 2%">
                &nbsp;
            </li>
            <li class="fixed column" style="width: 20%">
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.switchCurrency(1)}">switchCurrent1</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.switchCurrency(2)}">switchCurrent2</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.switchCurrency(3)}">switchCurrent3</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.switchCurrency(4)}">switchCurrent4</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.switchCurrency(5)}">switchCurrent5</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.switchCurrency(6)}">switchCurrent6</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.switchCurrency(7)}">switchCurrent7</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.settingDataRequestEscrow()}">settingDataRequestEscrow</a>
                <!--            <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.settingDataRequestCassete()}">settingDataRequestCassete</a>-->
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.settingDataRequestReject()}">settingDataRequestReject</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.deviceSettingDataLoad()}">deviceSettingDataLoad</a><br/>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.logDataRequest()}">logDataRequest</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.programUpdate()}">programUpdate</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.setTime()}">setTime</a>
                <a class="boton ${play.configuration['style.button_color']} full_width" href="@{GloryController.getFileInformation()}">getFileInformation</a>
            </li>
            <li class="fixed column" style="width: 2%">
                &nbsp;
            </li>
            <li class="fixed column" style="width: 20%">
                <p>${status?.getError()}
                </p>
                #{if (status?.haveData() ) }
                <p style="word-wrap: break-word;"> 
                    Registers<br/>
                    ${status?.getSRMode()}<br/>
                    ${status?.getD1Mode()}<br/>
                    #{list items:status?.getSrBits(), as:'p'}${p}<br/>
                    #{/list}
                    #{list items:status?.getD2Bits(), as:'p'}${p}<br/>
                    #{/list}
                    #{list items:status?.getInfo(), as:'p'}${p}<br/>
                    #{/list}
                </p>
                <p style="word-wrap: break-word;"> Data: ${status?.getData()}</p>
                #{/if}
            </li>
            <li class="fixed column" style="width: 2%">
                &nbsp;
            </li>

            <li class="fixed column" style="width: 30%">

                #{if (status?.haveData() ) }
                #{if ( status != null && status.getDenominationData() != null && status.getDenominationData().size() > 0 ) }
                <p style="word-wrap: break-word;"> 
                    Denomination Data
                <table>
                    <thead></thead>
                    <tbody>
                        #{list items:status?.getDenominationData(), as:'p'}    
                        #{if ( p_index - 1 ) % 2 == 0}<tr>#{/if}
                            <td>Denomination ( ${p.idx}, ${p.denominationCode} ): ${p.currencyCode} ${p.value} #{if (p.newVal)}New#{/if}</td>
                            #{if ( p_index -1 ) % 2 == 1}</tr>#{/if}
                        #{/list}
                    </tbody>
                </table>
                </p>
                #{/if}
                #{else}
                <p style="word-wrap: break-word;"> 
                    Bills Data:
                <table>
                    <thead></thead>
                    <tbody>
                        #{list items:status?.getBills(), as:'p'} 
                        #{if ( p_index - 1 ) % 4 == 0}<tr>#{/if}
                            <td>Bill ${p}</td>
                            #{if ( p_index -1 ) % 4 == 3}</tr>#{/if}
                        #{/list}
                    </tbody>
                </table>
                #{else}
                No bill information
                #{/else}
                </p>
                #{/else}
                #{/if}
            </li>
        </ul>
    </article>
</section>
