#{extends 'main.html' /}
#{set title:'Contenido del sobre' /}

<section id="depositar_sobre_05">
    <header></header>
    <!-- link volver -->
    <a href="@{ getEnvelopeContents() }" class="boton_top">◄ &{ 'application.back' }</a>
    <article>
        <h1 class="depositar_sobre">&{ 'main_menu.envelope_deposit' }</h1>
        <div class="contenido">
            <ul class="columns">
                #{form @confirmDeposit(envelopeCode), 'id' : 'mainForm' }
                #{ifErrors}
                <p class="error">
                    All fields are required!
                </p>
                #{/ifErrors}
                <li class="fixed column" style="width: 60%">
                    <div class="columna_1">
                        <div class="mensaje"><span>&{ 'envelope_deposit.envelope_code_title' }</span></div>
                        <input name="envelopeCode" type="text" placeholder="&{ 'envelope_deposit.envelope_code_title' }" style="width: 268px" />
                    </div>
                </li>
                #{/form}
                <li class="fixed column" style="width: 40%">
                    <div id="keyboard_placeholder"></div>
                </li>
            </ul>
        </div>
        <hr />
        <div class="botonera botonera_pie">
            <ul class="columns">
                <li class="fixed column" style="width: 50%">
                    <!-- link cancelar -->
                    <a href="@{ cancelDeposit() }" class="boton rojo">&{ 'application.cancel' }</a>
                </li>
                <li class="fixed column" style="width: 50%">
                    <div class="columna_2">
                        <!-- link continuar -->
                        <a id ="continueButton" href="#" class="boton naranja">&{ 'application.continue' }</a>
                    </div>
                </li>
            </ul>
        </div>
    </article>
</section>

#{set 'moreScripts'}
<script type="text/javascript" charset="${_response_encoding}">

    $( '#continueButton' ).click( function(event) {
        $( '#mainForm').submit();
    });
</script>
#{/set}



