#{extends 'main.html' /}
#{set title:'Contenido del sobre' /}

<section id="depositar_sobre_07">
    <header></header>
    <article>
        <div class="contenido">
            <h1 class="depositar_sobre">&{ 'main_menu.envelope_deposit' }</h1>
            <div class="mensaje"><span>&{ 'envelope_deposit.deposit_done' }</span></div>
            <h2>&{ 'application.thanks' }</h2>
            #{if canceled}
            &{ 'counting_page.deposit_canceled' }
            #{/if}
        </div>
        <hr />
        <div class="botonera">
            <ul class="columns">
                <li class="fixed column" style="width: 50%">
                    <!-- link cancelar -->
                    <a href="@{Application.index()}" class="boton gris">&{ 'main_menu.title' }</a>
                </li>
                <li class="fixed column" style="width: 50%">
                    <div class="columna_2">
                        #{if ( controllers.Secure.getCurrentUser() != null && ! controllers.Secure.getCurrentUser().isGuest() ) }
                        <a href="@{ Secure.logout( "Application.index" ) }" class="boton verde">&{'main_menu.logout'}</a>
                        #{/if}
                    </div>
                </li>
            </ul>
        </div>
    </article>
</section>


