#{extends 'main.html' /}
#{set title:'Contenido del sobre' /}

<section id="depositar_sobre_07">
    <header></header>
    <article>
        <h1 class="depositar_sobre">&{ 'main_menu.envelope_deposit' }</h1>
        <div class="contenido">
            <div class="mensaje"><span>&{ 'envelope_deposit.deposit_done' }</span></div>
            <h2>&{ 'application.thanks' }</h2>
            #{if canceled}
            &{ 'counting_page.deposit_canceled' }
            #{/if}
            #{else}
            &{ 'application.remove_ticket' }
            #{/else}
        </div>
        <hr />
        <div class="botonera">
            <ul class="columns">
                <li class="fixed column" style="width: 50%">
                    <!-- link cancelar -->
                    <a href="@{Application.index()}" class="boton full_width gris">&{ 'main_menu.title' }</a>
                </li>
                <li class="fixed column" style="width: 50%">
                    <div class="columna_2">
                        #{if ( controllers.Secure.getCurrentUser() != null && ! controllers.Secure.getCurrentUser().isGuest() ) }
                        <a href="@{ Secure.logout( "Application.index" ) }" class="boton full_width verde">&{'main_menu.logout'}</a>
                        #{/if}
                    </div>
                </li>
            </ul>
        </div>
    </article>
</section>
#{set 'moreScripts'}
<script type="text/javascript" charset="${_response_encoding}">
    function done() {
        window.location.href = "@{Application.index()}";
    };
    setTimeout(done,  ${play.configuration['finish_screen.timeout']});

</script>
#{/set}
