#{extends 'main.html' /}
#{set title:'Contenido del sobre' /}

<section id="depositar_sobre_02">
    <header></header>
    <a href="@{ EnvelopeDepositController.inputReference() }" class="boton_top">◄ &{ 'application.back' }</a>
    <article>
        <h1 class="depositar_sobre">&{ 'main_menu.envelope_deposit' }</h1>
        <div class="mensaje"><span>&{ 'getEnvelopeContents.select_contents' }</span></div>
        <div class="botonera">
            <ul class="on-2 columns">
                <li class="column">
                    <div class="columna">
                        <a href="@{EnvelopeDepositController.addCash()}" class="boton naranja full_width">&{ 'getEnvelopeContents.cash' }</a>
                    </div>
                </li>
                <li class="column">
                    <div class="columna">
                        <a href="@{EnvelopeDepositController.addDocument()}" class="boton naranja full_width">&{ 'getEnvelopeContents.documents' }</a>
                    </div>
                </li>
                <li class="column">
                    <div class="columna">
                        <a href="@{EnvelopeDepositController.addCheck()}" class="boton naranja full_width">&{ 'getEnvelopeContents.checks' }</a>
                    </div>
                </li>
                <li class="column">
                    <div class="columna">
                        <a href="@{EnvelopeDepositController.addTicket()}" class="boton naranja full_width">&{ 'getEnvelopeContents.tickets' }</a>
                    </div>
                </li>
                <li class="column">
                    <div class="columna">
                        <a href="@{EnvelopeDepositController.addOther()}" class="boton naranja full_width">&{ 'getEnvelopeContents.others' }</a>
                    </div>
                </li>
            </ul>
        </div>
        <hr />
        <div class="botonera_pie">
            <ul class="columns">
                <li class="column">
                    <div class="columna">
                        <a href="@{EnvelopeDepositController.cancelDeposit()}" class="boton rojo full_width">&{ 'application.cancel' }</a>
                    </div>
                </li>
                <li class="column">
                    <div class="columna">
                        #{if hasContents}
                        <a id ="continueButton" href="#" class="boton gris full_width">&{ 'application.continue' }</a>
                        #{/if}
                        #{else}
                        <a id ="continueButton" href="#" class="boton naranja full_width">&{ 'application.continue' }</a>
                        #{/else}
                    </div>
                </li>
            </ul>
        </div>
    </article>
</section>



