#{extends 'main.html' /}
#{set title:'Depositar Sobre' /}
<section id="depositar_sobre_01">
    <header></header>
    <a href="@{Application.index}" class="boton_top">◄ &{ 'application.back' }</a>
    <article>
        <h1 class="depositar_sobre">&{ 'main_menu.envelope_deposit' }</h1>

        <div class="contenido">
            <ul class="columns">
                #{form @inputReference(data), 'id' : 'mainForm' }
                #{ifErrors}
                <p class="error">
                    All fields are required!
                </p>
                #{/ifErrors}
                <li class="fixed column" style="width: 60%">
                    <div class="columna_1">
                        #{ if ( showReference1 || showReference2 ) }
                        <div class="mensaje"><span>&{ 'input_reference.input_reference' }</span></div>
                        #{/if}

                        #{ if ( showReference1 ) }
                        <select name="formData.reference1" class="full_width">
                            #{list items:referenceCodes, as:'reference'}
                            <option value="${reference.numericId}">${reference.textId}</option>
                            #{/list}
                        </select>
                        #{/if}

                        #{ if ( showReference2 ) }
                        <input name="formData.reference2" type="text" placeholder="&{ 'counting_page.reference2_title' }:" class="full_width" 
                               #{if play.mode.isDev() }value="REFERENCE2 TESTVAL"#{/if} /> #{/if}
                    </div>
                </li>
                <!--
                <input type="hidden" name="formData.reference1" value="${formData?.reference1}"/>
                <input type="hidden" name="formData.reference2" value="${formData?.reference2}"/>
                -->
                <input type="hidden" name="formData.envelopeCode" value="${formData?.envelopeCode}"/>
                <input type="hidden" name="formData.hasDocuments" value="${formData?.hasDocuments}"/>
                <input type="hidden" name="formData.hasOther" value="${formData?.hasOther}"/>
                <input type="hidden" name="formData.cashData" value="${formData?.cashData?.currencyId}"/>
                <input type="hidden" name="formData.cashData" value="${formData?.cashData?.amount}"/>
                <input type="hidden" name="formData.checkData" value="${formData?.checkData?.currencyId}"/>
                <input type="hidden" name="formData.checkData" value="${formData?.checkData?.amount}"/>
                <input type="hidden" name="formData.ticketData" value="${formData?.ticketData?.currencyId}"/>
                <input type="hidden" name="formData.ticketData" value="${formData?.ticketData?.amount}"/>
                <input type="hidden" name="formData.doDeposit" value="${formData?.doDeposit}"/>
                #{/form}
                <li class="fixed column" style="width: 40%">
                    <div id="keyboard_placeholder">KEYBOARD</div>
                </li>
            </ul>
        </div>
        <div class="botonera">
            <ul class="columns">
                <li class="fixed column" style="width: 50%">
                    <!-- link cancelar -->
                    <a href="@{ Application.index() }" class="boton rojo">&{ 'application.cancel' }</a>
                    <!-- /link cancelar -->
                </li>
                <li class="fixed column" style="width: 50%">
                    <div class="columna_2">
                        <!-- link continuar -->
                        <a id ="continueButton" href="#" class="boton naranja">&{ 'application.continue' }</a>
                    </div>
                </li>
            </ul>
        </div>
    </article>
</section>


#{set 'moreScripts'}
<script type="text/javascript" charset="${_response_encoding}">

    $( '#continueButton' ).click( function(event) {
        $( '#mainForm').submit();
    });
</script>
#{/set}