#{extends 'main.html' /}
#{set title:'Contenido del sobre' /}
<section id="depositar_sobre_06">
    <header></header>
    <!-- link volver -->
    <!--    <a href="@{ finish() }" class="boton_top">◄ &{ 'application.back' }</a>-->
    <article>
        <h1 class="depositar_sobre">&{ 'main_menu.envelope_deposit' }</h1>
        <div class="contenido">
            <div class="mensaje"><span>&{ 'envelope_deposit.put_ticket_in_envelope' }</span></div>
            <ul class="columns">
                <li class="column">
                    <p>&{ 'counting_page.client_code_title' }: ${clientCode}</p>
                    #{if ( formData.showReference1 ) }
                    <p>&{ 'counting_page.reference1_title' }: ${formData.reference1.lov}</p>
                    #{/if}
                    #{if ( formData.showReference2 && formData.reference2 != "" ) }
                    <p>&{ 'counting_page.reference2_title' }: ${formData.reference2}</p>
                    #{/if}
                    #{if ( formData.cashData.amount > 0 ) }
                    <p>&{ 'envelope_deposit.amount_cash' }: ${ formData.cashData.amount } ${ formData.cashData.currency.description } </p>
                    #{/if}
                    #{if ( formData.checkData.amount > 0 ) }
                    <p>&{ 'envelope_deposit.amount_checks' }: ${ formData.checkData.amount } ${ formData.checkData.currency.description } </p>
                    #{/if}
                    #{if ( formData.ticketData.amount > 0  ) }
                    <p>&{ 'envelope_deposit.amount_tickets' }: ${ formData.ticketData.amount } ${ formData.ticketData.currency.description } </p>
                    #{/if}
                    #{if formData.hasDocuments }
                    <p>&{ 'envelope_deposit.has_documents' }</p>
                    #{/if}
                    #{if formData.hasOthers }
                    <p>&{ 'envelope_deposit.has_others' }</p>
                    #{/if}
                    <p>&{ 'envelope_deposit.envelope_code' }: ${ formData.envelopeCode }</p>
                    <p>&nbsp;</p>
                    <!-- /resumen de datos -->
                    <div class="info_message" style="color: green;"> 
                </li>
            </ul>
        </div>
        <hr>
        <div class="botonera">
            <ul class="on-2 columns">
                <li class="column">
                    <!-- link cancelar -->
                    <div class="columna">
                        <a id="cancelButton" href="#" class="boton full_width rojo">&{ 'application.cancel' }</a>
                    </div>
                </li>
                <li class="column">
                    <div class="columna">
                        <!-- link continuar -->
                        <!--                        <a href="#" class="boton gris">&{ 'application.continue' }</a>-->
                    </div>
                </li>
            </ul>
        </div>
    </article>
    <div id="alerta_cancel" class="alerta info" style="display: none;">
        <div id="alerta_titulo">&{ 'application.canceling' }</div>
        <div id="alerta_cuerpo">
            <div id="alerta_texto">
                <div id="error_text">
                    <span>&{ 'application.canceling_detail' }</span>
                    <span class="info_message" style="color: green;"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="alerta_storing" class="alerta info" style="display: none;">
        <div id="alerta_titulo">&{ 'counting_page.storing' }</div>
        <div id="alerta_cuerpo">
            <div id="alerta_texto">
                <span id="error_text">&{ 'counting_page.storing_detail' }</span>
                <span class="info_message" style="color: green;"></span>
            </div>
        </div>
    </div>
    <div id="alerta_remove_rejected_bills" class="alerta info" style="display: none;">
        <div id="alerta_titulo">&{ 'counting_page.remove_rejected_bills' }</div>
        <div id="alerta_cuerpo">
            <div id="alerta_texto">
                <span id="error_text">&{ 'counting_page.remove_rejected_bills' }</span>
            </div>
        </div>
    </div>
    <div id="main_overlay" class="alerta info" style="display: none;">
        <div id="overlay_contents"></div>
    </div>
</section>


#{set 'moreScripts'}
<script src="@{'/public/javascripts/main_loop.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script type="text/javascript" charset="${_response_encoding}">

    doRefresh = function() {
        $.getJSON( '@{mainLoop}', function( data ) {
            var status = data[ 0 ];
            var billData = data[ 1 ];
            if ( status != null && status.toString() != 'null' ) {
                $( '.info_message' ).html(  data[ 2 ] );
                if ( status == 'TIMEOUT_WARNING' ) {
                    showAlert( "#alerta_timeout" );
                } else {
                    closeAlert( "#alerta_timeout" );
                }
                if ( status == 'CANCELING' ) {
                    showAlert( '#alerta_cancel' );                
                } else {
                    closeAlert( "#alerta_cancel" );
                }
                if ( status == 'STORING' ) {
                    showAlert( '#alerta_storing' );                
                } else {
                    closeAlert( "#alerta_storing" );    
                }
                if ( status == 'REMOVE_REJECTED_BILLS' ) {
                    showAlert( '#alerta_remove_rejected_bills' );                
                } else {
                    closeAlert( "#alerta_remove_rejected_bills" );    
                }

                if ( status == 'IDLE' || status == 'CANCELING' || status == 'STORING' || status == 'REMOVE_REJECTED_BILLS' ) {
                } else if ( status == 'FINISH' ) {
                    window.location.href = "@{finish}";
                    return;
                } else if ( status == 'READY_TO_STORE' ) {
                    //                    $( '#continueButton' ).attr( { 'class' : 'boton ${play.configuration['style.button_color']}'});
                } else if ( status == 'ERROR' ) {
                    window.location.href = "@{counterError()}";
                } else {          
                    alert( "Invalid status : " + status + " last status : " + lastStatus );
                }
                lastStatus = status
            }
            doneRefresh();
        })
    };
    
    
    $( '#continueButton' ).click( function(event) {
        $.getJSON( '@{accept()}', function( data ) {});
    });
    
    $( '#cancelButton' ).click( function(event) {
        $.getJSON( '@{cancel()}', function( data ) {});
    });
</script>
#{/set}

