#{extends 'main.html' /}
#{set title:'Contenido del sobre' /}
<section id="depositar_sobre_06">
    <header></header>
    <!-- link volver -->
    <a href="@{ finish() }" class="boton_top">◄ &{ 'application.back' }</a>
    <article>
        <h1 class="depositar_sobre">&{ 'main_menu.envelope_deposit' }</h1>
        <div class="contenido">
            <div class="mensaje"><span>&{ 'envelope_deposit.put_ticket_in_envelope' }</span></div>
            <ul class="columns">
                <li class="column">
                    #{if ( formData.showReference1 ) }
                    <p>&{ 'counting_page.reference1_title' }: ${formData.reference1.lov}</p>
                    #{/if}
                    #{if ( formData.showReference2 ) }
                    <p>&{ 'counting_page.reference2_title' }: ${formData.reference2}</p>
                    #{/if}
                    #{if ( formData.cashData.amount > 0 ) }
                    <p>&{ 'envelope_deposit.amount_cash' }: ${ formData.cashData.amount } ${ formData.cashData.currency.textId } </p>
                    #{/if}
                    #{if ( formData.checkData.amount > 0 ) }
                    <p>&{ 'envelope_deposit.amount_checks' }: ${ formData.checkData.amount } ${ formData.checkData.currency.textId } </p>
                    #{/if}
                    #{if ( formData.ticketData.amount > 0  ) }
                    <p>&{ 'envelope_deposit.amount_tickets' }: ${ formData.ticketData.amount } ${ formData.ticketData.currency.textId } </p>
                    #{/if}
                    #{if formData.hasDocuments }
                    <p>&{ 'envelope_deposit.has_documents' }</p>
                    #{/if}
                    #{if formData.hasOthers }
                    <p>&{ 'envelope_deposit.has_others' }</p>
                    #{/if}
                    <p>&{ 'envelope_deposit.envelope_code' }: ${ formData.envelopeCode }</p>
                    <p>&nbsp;</p>
                    <!-- /resumen de datos -->
                    <div id="info_message" style="color: green;"> 
                </li>
            </ul>
        </div>
        <div class="botonera">
            <ul class="columns">
                <li class="fixed column" style="width: 50%">
                    <!-- link cancelar -->
                    <a id="cancelButton" href="#" class="boton rojo">&{ 'application.cancel' }</a>
                </li>
                <li class="fixed column" style="width: 50%">
                    <div class="columna_2">
                        <!-- link continuar -->
                        <a href="#" class="boton gris">&{ 'application.continue' }</a>
                    </div>
                </li>
            </ul>
        </div>
    </article>
</section>


#{set 'moreScripts'}
<script type="text/javascript" charset="${_response_encoding}">
    var waiting = false;
    var lastStatus = false;
    
    // Reload the whole messages panel
    function refresh() {
        if ( waiting ) {
            return;
        }
        waiting = true;
        $.getJSON( '@{mainLoop}', function( data ) {
            waiting = false;
            var status = data[ 0 ];
            var billData = data[ 1 ];
            if ( status != null && status.toString() != 'null' ) {
                $( '#info_message' ).html(  data[ 2 ] );
                if ( status == 'IDLE' || status == 'CANCELING' ) {
                } else if ( status == 'FINISH' ) {
                    window.location.href = "@{finish}";
                    return;
                } else if ( status == 'READY_TO_STORE' ) {
                    $( '#continueButton' ).attr( { 'class' : 'boton naranja'});
                } else if ( status == 'ERROR' ) {
                    window.location.href = "@{Application.counterError()}";
                } else {          
                    alert( "Invalid status : " + status + " last status : " + lastStatus );
                }
                lastStatus = status
            }
            var total = 0;
            var cnt_total = 0;
            for( var i = 0 ; i < billData.length; i ++ ) {
                var nid = '#BTRID_' + billData[ i ].billTypeId;
                $( nid ).children( '#bill_denomination' ).html( billData[ i ].denomination );
                $( nid ).children( '#bill_quantity' ).html( billData[ i ].quantity );
                var t = ( billData[ i ].denomination * billData[ i ].quantity );
                $( nid ).children( '#bill_total' ).html( t );
                total += t;
                cnt_total += billData[ i ].quantity;
            }
            $( '#cnt_total' ).html( cnt_total );
            $( '#total' ).html( total );
        })
    }
    
    $( '#continueButton' ).click( function(event) {
        $.getJSON( '@{accept()}', function( data ) {});
    });
    
    $( '#cancelButton' ).click( function(event) {
        $.getJSON( '@{cancel()}', function( data ) {});
    });
    // Call refresh every 1.5 seconds
    setInterval(refresh, 500);
    refresh();
</script>
#{/set}

