#{extends 'main.html' /}
#{set title:'Contenido del sobre' /}
<section id="depositar_sobre_06">
    <header></header>
    <!-- link volver -->
    <a href="@{ confirmDeposit() }" class="boton_top">◄ &{ 'application.back' }</a>
    <article>
        <h1 class="depositar_sobre">&{ 'main_menu.envelope_deposit' }</h1>
        <div class="contenido">
            <div class="mensaje"><span>&{ 'envelope_deposit.put_ticket_in_envelope' }</span></div>
            <ul class="columns">
                <li class="column">
                    <p>Referencia: 123456789</p>
                    <p>Aplicar a: 123456</p>
                    <p>Monto efectivo $: 99999</p>
                    <p>Monto efectivo U$S: 99999</p>
                    <p>Monto ticket: 99999</p>
                </li>
                <li class="column">
                    <p>Contiene documento</p>
                    <p>Contiene otros</p>
                    <p>Nro. de sobre: 12345678</p>
                </li>
            </ul>
        </div>
        <div class="botonera">
            <ul class="columns">
                <li class="fixed column" style="width: 50%">
                    <!-- link cancelar -->
                    <a href="@{ cancelDeposit() }" class="boton rojo">&{ 'application.cancel' }</a>
                </li>
                <li class="fixed column" style="width: 50%">
                    <div class="columna_2">
                        <!-- link continuar -->
                        <a href="@{ summary() }" class="boton naranja">&{ 'application.continue' }</a>
                    </div>
                </li>
            </ul>
        </div>
    </article>
</section>

