#{extends 'main.html' /}
#{set title:'Depositar Sobre' /}
<section>
    <header></header>
    <a id="backButton" href="#" class="boton_top">◄ &{ 'application.back' }</a>
    <article>
        <h1 class="depositar_sobre">&{ 'main_menu.envelope_deposit' }</h1>
        #{form @start(deposit), 'id' : 'mainForm', 'class' : "bbq", 'style' : 'height: 89%;' }
        <div class="contenido">

            #{ if ( formData.showReference1 || formData.showReference2 ) }
            <div class="step" id="first" >
                <ul class="columns">
                    <li class="fixed column" style="width: 60%">
                        <div class="columna">
                            #{ if ( formData.showReference1 || formData.showReference2 ) }
                            <div class="mensaje"><span>&{ 'application.input_reference' }</span></div>
                            #{/if}

                            #{ if ( formData.showReference1 ) }
                            #{select 'formData.reference1.value', items: referenceCodes, valueProperty:'numericId', labelProperty:'description', value:formData.reference1.value, class : 'full_width' /}
                            #{ifError 'formData.reference1'}
                            <label for="formData.reference1.value" generated="true" class="error" style="display: inline; ">&{ 'validation.required' }</label>
                            #{/ifError}
                            #{/if}
                            #{error 'formData.reference1' /}

                            #{ if ( formData.showReference2 ) }
                            <input  autocomplete="off" name="formData.reference2" type="text"
                                    placeholder="&{ 'counting_page.reference2_title' }:" class="full_width popup_keyboard" data-type="qwerty" id="input_1"/> 
                            <!--                                   value="#{if play.mode.isDev() }REFERENCE2 TESTVAL#{/if} "-->
                            #{ifError 'formData.reference2'}
                            <label for="formData.reference1.value" generated="true" class="error" style="display: inline; ">&{ 'validation.required.reference2' }</label>
                            #{/ifError}
                            #{/if}
                        </div>
                    </li>
                </ul>
            </div>
            #{/if}
            <div class="step" id="second" style="display: none">
                <input  autocomplete="off" name="second_next" id="second_next" type="hidden" class="link" value="envelope_code">
                <input  autocomplete="off" name="second_valid" id="second_valid" type="hidden" class="link" value="">
                <div class="mensaje"><span>&{ 'envelope_deposit.select_contents' }</span></div>
                <ul class="on-2 columns">
                    <li class="column">
                        <div class="columna">
                            <a name="cash_link" id="cash_link" href="#" class="link boton ${play.configuration['style.button_color']} full_width">&{ 'envelope_deposit.cash' }</a>
                            <a name="documents_link" id="documents_link" href="#" class="boton ${play.configuration['style.button_color']} full_width">&{ 'envelope_deposit.documents' }</a>
                            <input  autocomplete="off" type="hidden" id="hasDocuments" name="formData.hasDocuments"
                                    value="#{if ( formData.hasDocuments ) }true#{/if}#{else}false#{/else}"/>
                            <a name="checks_link" id="checks_link" href="#" class="link boton ${play.configuration['style.button_color']} full_width">&{ 'envelope_deposit.checks' }</a>
                        </div>
                    </li>
                    <li class="column">
                        <div class="columna">
                            <a name="tickets_link" id="tickets_link" href="#" class="link boton ${play.configuration['style.button_color']} full_width">&{ 'envelope_deposit.tickets' }</a>
                            <a name="others_link" id="others_link" href="#" class="boton ${play.configuration['style.button_color']} full_width">&{ 'envelope_deposit.others' }</a>
                            <input  autocomplete="off" type="hidden" id="hasOthers" name="formData.hasOthers" 
                                    value="#{if ( formData.hasOthers ) }true#{/if}#{else}false#{/else}"
                                    />
                        </div>
                    </li>
                </ul>
            </div>
            <div id="cash" class="step amount_input" style="display: none">
                <input  autocomplete="off" name="cash_second" id="cash_second" type="hidden" class="link" value="second">
                <ul class="columns">
                    <li class="fixed column" style="width: 60%">
                        <div class="columna">
                            <div class="mensaje"><span>&{ 'application.choose_currency' }</span></div>
                            %{ val = null; if ( formData.cashData != null ) { val = formData.cashData.value } }%
                            #{select 'formData.cashData.value', items: currencies, valueProperty:'numericId', labelProperty:'description', value:val, class : 'full_width' /}
                            &{ 'envelope_deposit.amount_to_confirm' }
                            &nbsp;&nbsp;
                            <input type="number" autocomplete="off" name="formData.cashData.amount" id="cashData" value="${formData?.cashData?.amount}" placeholder="&{ 'envelope_deposit.amount_to_confirm_title' }" class="full_width" />
                            #{ifError 'formData.cashData.amount'}
                            <label for="formData.cashData.amount" generated="true" class="error" style="display: inline; ">&{ 'validation.required.cashData_amount' }</label>
                            #{/ifError}
                        </div>
                    </li>
                    #{ centered_keyboard /}
                </ul>
            </div>
            <div id="checks" class="step amount_input" style="display: none">
                <input  autocomplete="off" name="checks_second" id="checks_second" type="hidden" class="link" value="second">
                <ul class="columns">
                    <li class="fixed column" style="width: 60%">
                        <div class="columna">
                            <div class="mensaje"><span>&{ 'application.choose_currency' }</span></div>
                            %{ val = null; if ( formData.cashData != null ) { val = formData.cashData.value } }%
                            #{select 'formData.checkData.value', items: currencies, valueProperty:'numericId', labelProperty:'description', value:val, class : 'full_width' /}
                            &{ 'envelope_deposit.amount_to_confirm' }
                            &nbsp;&nbsp;
                            <input type="number" autocomplete="off" name="formData.checkData.amount" id="checkData" value="${formData?.checkData?.amount}" placeholder="&{ 'envelope_deposit.amount_to_confirm_title' }" class="full_width" />
                            #{ifError 'formData.checkData.amount'}
                            <label for="formData.checkData.amount" generated="true" class="error" style="display: inline; ">&{ 'validation.required.checkData_amount' }</label>
                            #{/ifError}
                        </div>                    
                    </li>
                    #{ centered_keyboard /}
                </ul>
            </div>
            <div id="tickets" class="step amount_input" style="display: none">
                <input  autocomplete="off" name="tickets_second" id="tickets_second" type="hidden" class="link" value="second">
                <ul class="columns">
                    <li class="fixed column" style="width: 60%">
                        <input  autocomplete="off" name="tickets_second" id="cash_second" type="hidden" class="link" value="second">
                        <div class="columna">
                            <div class="mensaje"><span>&{ 'application.choose_currency' }</span></div>
                            %{ val = null; if ( formData.cashData != null ) { val = formData.cashData.value } }%
                            #{select 'formData.ticketData.value', items: currencies, valueProperty:'numericId', labelProperty:'description', value:val, class : 'full_width' /}
                            &{ 'envelope_deposit.amount_to_confirm' }
                            &nbsp;&nbsp;
                            <input type="number" autocomplete="off" name="formData.ticketData.amount" id="ticketData" value="${formData?.ticketData?.amount}" placeholder="&{ 'envelope_deposit.amount_to_confirm_title' }" class="full_width" />
                            #{ifError 'formData.ticketData.amount'}
                            <label for="formData.ticketData.amount" generated="true" class="error" style="display: inline; ">&{ 'validation.required.ticketData_amount' }</label>
                            #{/ifError}         
                        </div>
                    </li>
                    #{ centered_keyboard /}
                </ul>
            </div>
            <div id="envelope_code" class="step submit_step" style="display: none">
                <input  autocomplete="off" name="envelope_code_next" id="envelope_code_next" type="hidden" class="link" value="print_ticket">
                <ul class="columns">
                    <li class="fixed column" style="width: 60%">
                        <div class="columna">
                            <div class="mensaje"><span>&{ 'envelope_deposit.envelope_code_title' }</span></div>
                            <input type="number" autocomplete="off" name="formData.envelopeCode" placeholder="&{ 'envelope_deposit.envelope_code_title' }" class="full_width" />
                            <!--                                   value="#{if play.mode.isDev() }ENVELOPE CODE TESTVAL#{/if} "-->
                            #{ifError 'formData.envelopeCode'}
                            <label for="formData.envelopeCode" generated="true" class="error" style="display: inline; ">&{ 'validation.required.envelopeCode' }</label>
                            #{/ifError}
                        </div>
                    </li>
                    <li class="fixed column" style="width: 5%;">&nbsp;</li>
                    <li class="fixed column" style="width: 30%; ">
                        #{if ( play.configuration[ 'style.useHardwareKeyboard' ] ) }
                        <div>
                        </div>
                        #{/if}
                        #{else}
                        <div class="keyboard">
                            <ul class="on-3 same-height columns">
                                <li class="column"><span><a class="element key" data-key="7">7</a></span></li>
                                <li class="column"><span><a class="element key" data-key="8">8</a></span></li>
                                <li class="column"><span><a class="element key" data-key="9">9</a></span></li>
                                <li class="column"><span><a class="element key" data-key="4">4</a></span></li>
                                <li class="column"><span><a class="element key" data-key="5">5</a></span></li>
                                <li class="column"><span><a class="element key" data-key="6">6</a></span></li>
                                <li class="column"><span><a class="element key" data-key="1">1</a></span></li>
                                <li class="column"><span><a class="element key" data-key="2">2</a></span></li>
                                <li class="column"><span><a class="element key" data-key="3">3</a></span></li>
                                <li class="column"><span><a class="element key" data-key="0">0</a></span></li>
                                <li class="column"><span><a class="element key" data-key="{none}">&nbsp;</a></span></li>
                                <li class="column"><span><a class="element key" data-key="{backspace}">←</a></span></li>
                            </ul>
                        </div>
                        #{/else}
                    </li>
                    <li class="fixed column" style="width: 5%;">&nbsp;</li>

                </ul>
            </div>
        </div>

        <hr />
        <div class="botonera">
            <ul class="on-2 unit">
                <li class="column">
                    <div class="columna">
                        <!-- link cancelar -->
                        <a id="cancelButton" href="@{ Application.index() }" class="boton full_width rojo">&{ 'application.cancel' }</a>
                        &nbsp;
                        <!-- /link cancelar -->
                    </div>
                </li>
                <li class="column">
                    <div class="columna" >
                        <!-- link continuar -->
                        <input autocomplete="off" type="submit"  value="&{ 'application.continue' }" id ="continueButton" class="boton full_width ${play.configuration['style.button_color']}"/>
                    </div>
                </li>
            </ul>
        </div>
        <div id="alerta_validacion" class="alerta_automatica alerta error" style="display: none;">
            <div id="alerta_titulo">&{ 'application.error' }</div>
            <div id="alerta_cuerpo">
                <div id="alerta_texto">
                    <div id="error_text">
                        <span id="validation_error"></span>
                        <span class="info_message" style="color: green;"></span>
                    </div>
                </div>
                <div id="alerta_botonera">
                    <a id="alerta_continueButton" class="boton ${play.configuration['style.button_color']}">&{ 'application.continue' }</a>
                </div>
            </div>
        </div>
        #{ popup_keyboard /}
        #{/form}
    </article>
</section>


#{set 'moreScripts'}
#{script 'jquery/jquery.form.js' /}
#{script 'jquery/jquery.validate.js' /}
#{script 'jquery/bbq.js' /}
#{script 'jquery/jquery.form.wizard.js' /}
<script type="text/javascript" charset="${_response_encoding}">
    function checkAndSet(check, set) {
    str = $(check).val();
            if (! (! str) && ! /^\s*$/.test(str) && str > 0) {
    $(set).addClass('verde').removeClass('${play.configuration['style.button_color']}');
            return true;
    } else {
    $(set).addClass('${play.configuration['style.button_color']}').removeClass('verde');
            return false;
    }
    };
            function validateAndCheck() {
            var atleastone = false;
                    atleastone |= checkAndSet('#cashData', '#cash_link');
                    atleastone |= checkAndSet('#checkData', '#checks_link');
                    atleastone |= checkAndSet('#ticketData', '#tickets_link');
                    if ($('#hasDocuments').val() == 'true') {
            atleastone |= true;
                    $('#documents_link').addClass('verde').removeClass('${play.configuration['style.button_color']}');
            }
            if ($('#hasOthers').val() == 'true') {
            atleastone |= true;
                    $('#others_link').addClass('verde').removeClass('${play.configuration['style.button_color']}');
            }
            return atleastone;
            }
    $(function(){
    jQuery.validator.addMethod("decimal", function(value, element, params) {
    return this.optional(element) || /^\d+(\.\d{0,2})?$/.test(value);
    }, jQuery.validator.format("Please enter an xxxx.xx number."));
            jQuery.validator.addMethod("atleastone", function(value, element, params) {
    return validateAndCheck();
    }, jQuery.validator.format("Please complete at least one item."));
            $("#mainForm").formwizard({
    formPluginEnabled: false,
            validationEnabled: true,
            focusFirstInput : true,
            textSubmit: "&{ 'application.continue' }",
            textNext: "&{ 'application.continue' }",
            textBack: "&{ 'application.back' }",
            inAnimation : {height: 'none'},
            outAnimation: {height: 'none'},
            inDuration : 0,
            outDuration: 0,
            disableUIStyles: true,
            validationOptions : {
    ignore: "",
            rules: {
    //'formData.reference2' : "required",
    'formData.envelopeCode' : { required: true, range : [ 0, 99999 ] },
            'formData.cashData.amount' : { decimal: true },
            'formData.checkData.amount' : { decimal: true },
            'formData.ticketData.amount' : { decimal: true },
            'second_valid' : { atleastone: true }
    },
            onkeyup: false,
            onclick: false,
            onfocusout: false,
            messages: {
    //'formData.reference2': { required: "&{ 'validation.required' }", decimal: "&{ 'validation.must_be_a_number'} "},
    'formData.envelopeCode': { required: "&{ 'validation.required' }", decimal: "&{ 'validation.must_be_a_number'}", range: "&{ 'validation.must_be_a_5_number'}" },
            'formData.cashData.amount': { required: "&{ 'validation.required' }", decimal: "&{ 'validation.must_be_a_number'} "},
            'formData.checkData.amount': { required: "&{ 'validation.required' }", decimal: "&{ 'validation.must_be_a_number'} "},
            'formData.ticketData.amount': { required: "&{ 'validation.required' }", decimal: "&{ 'validation.must_be_a_number'} "},
            'second_valid': { atleastone : "&{ 'validation.atleastone'} " }
    },
            showErrors: function(errorMap, errorList) {
    $("#validation_error").html("");
            $.each(errorMap, function(name, value) {
    $('input[ name="' + name + '"]').val("");
            $("#validation_error").html($("#validation_error").html() + "<br/>" + value);
    });
            if (this.numberOfInvalids() > 0) {
    $("#alerta_validacion").overlay().load();
    }
    this.defaultShowErrors();
    }
    }
    }
    );
            $('#alerta_continueButton').click(function(event) {
    $("#alerta_validacion").overlay().close();
            $("#mainForm").validate();
            //            onError = false;
    });
            $("#mainForm").bind("step_shown", function(event, data) {
    if (data.currentStep == 'second') {
    validateAndCheck();
    } else if (data.currentStep == 'envelope_code') {
    // last step activate all input, (hack).
    $(":input").not(".wizard-ignore").removeAttr("disabled")
    }
    if (data.currentStep != 'cash' && data.currentStep != 'checks' && data.currentStep != 'tickets') {
    $("#cancelButton").show();
    }
    Elastic.refresh();
    });
            $('#cash_link').click(function(event) {
    $("#cancelButton").hide();
            $("#mainForm").formwizard("show", "cash");
    });
            $('#checks_link').click(function(event) {
    $("#cancelButton").hide();
            $("#mainForm").formwizard("show", "checks");
    });
            $('#tickets_link').click(function(event) {
    $("#cancelButton").hide();
            $("#mainForm").formwizard("show", "tickets");
    });
            $('#documents_link').click(function(event) {
    if ($("#hasDocuments").val() == 'true') {
    $("#hasDocuments").val("false");
            $('#documents_link').addClass('${play.configuration['style.button_color']}').removeClass('verde');
    } else {
    $("#hasDocuments").val("true");
            $('#documents_link').addClass('verde').removeClass('${play.configuration['style.button_color']}');
    }
    });
            $('#others_link').click(function(event) {
    if ($("#hasOthers").val() == 'true') {
    $("#hasOthers").val("false");
            $('#others_link').addClass('${play.configuration['style.button_color']}').removeClass('verde');
    } else {
    $("#hasOthers").val("true");
            $('#others_link').addClass('verde').removeClass('${play.configuration['style.button_color']}');
    }
    });
            $('#backButton').click(function(event) {
    state = $("#mainForm").formwizard("state");
            if (state.isFirstStep) {
    window.location.href = "@{ MenuController.mainMenu(1) }";
    };
            $("#mainForm").formwizard("back");
    });
            Elastic.refresh();
    });

</script>
#{/set}
