@font-face {
    font-family: 'DIN';
    src: url('../fonts/DINPro-Medium.eot');
    src: local('☺'),
        url('../fonts/DINPro-Medium.woff') format('woff'),
        url('../fonts/DINPro-Medium.ttf') format('truetype'),
        url('../fonts/DINPro-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    background: black;
    height: 100%;
    font-family: DIN;
    font-size: 62.5%;
    font-size: 1em;
    color: black;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* defaults */

a {
    text-decoration: none;
    color: inherit;
}

/* layout */

section {
    width: 800px;
    height: 600px;
    background: url('../gfx/fondo.png');
    margin: 0 auto;
    position: relative;
}

header {
    height: 118px;
    background: url('../gfx/logo.png') 94% 50% no-repeat;
}

article {
    padding: 35px 60px 0 60px;
}

/* headings */

h1 {
    line-height: 42px;
    font-size: 30pt !important;
    margin-bottom: 25px !important;
    background-repeat: no-repeat;
    background-position: 0% 50%;
}

h1.candado {
    background-image: url('../gfx/icono_candado.png');
    padding-left: 51px;
}

h1.casa {
    background-image: url('../gfx/icono_casa.png');
    padding-left: 66px;
}

h1.contar_dinero {
    background-image: url('../gfx/icono_contar_dinero.png');
    padding-left: 62px;
}

h1.depositar_efectivo {
    background-image: url('../gfx/icono_depositar_efectivo.png');
    padding-left: 62px;
}

h1.depositar_sobre {
    background-image: url('../gfx/icono_depositar_sobre.png');
    padding-left: 63px;
}

h2 {
    font-size: 19pt !important;
    margin-bottom: 15px !important;
}

/* separador */

hr {
    border: none;
    height: 1px;
    background: url('../gfx/separador.png') top right no-repeat;
    padding: 0;
    margin: 10px 0;
}

/* mensaje */

.mensaje {
    background: url('../gfx/caption_flecha.png') left bottom no-repeat;
    padding-bottom: 12px;
    margin-bottom: 10px;
}

.mensaje span {
    background: url('../gfx/caption_fondo.png');
    display: inline-block;
    font-size: 15pt;
    padding: 10px 22px 10px 20px;
}

/* botones */

.boton {
    height: 47px;
    line-height: 47px;
    font-size: 15pt;
    border: none;
    border-right: 1px solid;
    display: inline-block;
    padding: 0 18px 0 70px;
    cursor: pointer;
}

.boton.verde {
    color: white;
    background: url('../gfx/boton_verde.png') top left no-repeat;
    border-right-color: #547a1f;
}

.boton.gris {
    color: black;
    background: url('../gfx/boton_gris.png') top left no-repeat;
    border-right-color: #b3b3b3;
}

.boton.naranja {
    color: black;
    background: url('../gfx/boton_naranja.png') top left no-repeat;
    border-right-color: #fcba09;
}

.boton.rojo {
    color: white;
    background: url('../gfx/boton_rojo.png') top left no-repeat;
    border-right-color: #b91b0b;
}

.boton_top {
    background: url('../gfx/boton_top_fondo.png') top left repeat-y;
    color: black;
    padding: 12px 15px 12px 63px;
    min-width: 252px;
    position: absolute;
    top: 33px;
    left: 0;
    font-size: 15pt;
}

/* forms */

input[type='text'], input[type='password'], textarea {
    background: white;
    border: 1px solid #BCBCBC;
    padding: 10px;
    font-size: 15pt;
    color: #999999;
}

input[type='text'], input[type='password'] {

}

select {
    background: white;
    border: 1px solid #BCBCBC;
    padding: 10px;
    font-size: 15pt;
    color: #999999;
    height: 50px;
}

select option {
    background: white;
    padding: 10px;
    font-size: 15pt;
    color: #999999;
}

/* modificadores */

.full_width {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
}

/* tablas */

table {
    background: url('../gfx/tabla_fondo.png') top left repeat-x #B8B8B8;
    border: 1px solid #BCBCBC;
}

table thead {

}

table thead tr {

}

table thead tr th {
    color: black;
    text-align: center;
    padding: 5px;
}

table tbody {

}

table tbody tr {

}

table tbody tr td {
    text-align: center;
    color: #666666;
    padding: 1px 5px;
    border-top: 1px solid #B9B9B9;
}

table tfoot {

}

table tfoot tr {

}

table tfoot tr td {
    color: black;
    text-align: center;
    padding: 5px;
    border-top: 1px solid #B9B9B9;
}

/* teclados */

.keyboard {

}

.keyboard .element {

    /* box model */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    /* medidas */
    width: 100%;
    height: 52px;
    line-height: 52px;
    cursor: pointer;

    /* font */
    font-family: DIN;
    font-size: 17pt;
    text-align: center;

    /* display */
    display: inline-block;

}

.keyboard .element.key {
    color: white;
    background-color: #ffffff;
    border: 1px solid #7f7548;
    background-image: -moz-linear-gradient(top, #5a5a5a, #a3a3a3);
    background-image: -o-linear-gradient(top, #5a5a5a, #a3a3a3);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#5a5a5a), to(#a3a3a3));
    background-image: -webkit-linear-gradient(top, #5a5a5a, #a3a3a3);
    background-image: linear-gradient(top, #5a5a5a, #a3a3a3);
}

.keyboard .element.action {
    color: black;
    background-color: #ffffff;
    border: 1px solid #FFBC00;
    background-image: -moz-linear-gradient(top, #F7B304, #DB7B00);
    background-image: -o-linear-gradient(top, #F7B304, #DB7B00);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#F7B304), to(#DB7B00));
    background-image: -webkit-linear-gradient(top, #F7B304, #DB7B00);
    background-image: linear-gradient(top, #F7B304, #DB7B00);
    font-size: 14pt;
}

.keyboard span {
    margin: 0 8px 8px 0;
    display: block;
}

/* alertas */

.alerta {
    margin-left: 100px;
    width: 600px;
    height: 500px;
    background: none;
    display: none;
}

.alerta #alerta_titulo {
    font-size: 30pt;
    color: white;
    margin-bottom: 20px;
    background-position-x: 0%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    padding-left: 65px;
    line-height: 44px;
}

.alerta.info #alerta_titulo {
    background-image: url('../gfx/alertas_icono_info.png');
}

.alerta.error #alerta_titulo {
    background-image: url('../gfx/alertas_icono_error.png');
}

.alerta.success #alerta_titulo {
    background-image: url('../gfx/alertas_icono_success.png');
}

.alerta.continue #alerta_titulo {
    background-image: url('../gfx/alertas_icono_continue.png');
}

.alerta #alerta_cuerpo {
    padding-left: 70px;
}

.alerta #alerta_cuerpo #alerta_texto {
    background: url('../gfx/alertas_flecha.png') top left no-repeat;
    padding-top: 13px;
    margin-bottom: 30px;
}

.alerta #alerta_cuerpo #alerta_texto span {
    background: #FFF7C2;
    padding: 15px;
    color: black;
    font-size: 14pt;
    display: block;
}

.alerta #alerta_cuerpo #alerta_botonera {

}

/* section: login */

#login input[type='text'] {
    width: 200px;
    margin-right: 15px;
}

#login input[type='password'] {
    width: 200px;
    margin-right: 15px;
}

#login #keyboard_placeholder {
    overflow: auto;
    margin-top: 15px;
}

.keyboard {
    margin-top: 10px;
}

/* section: menu principal */

#menu_principal .mensaje {
    margin-bottom: 20px;
}

#menu_principal .botonera {
    height: 150px;
    overflow: hidden;
}

#menu_principal .botonera .columna {
    padding: 0 10px;
}

#menu_principal .botonera .columna a {
    margin-bottom: 30px;
}

#menu_principal hr {
    margin: 35px 0;
}

#menu_principal .botonera_pie .columna {
    padding: 0 10px;
}

#menu_principal .botonera_pie .columna a {
    margin-right: 20px;
}

/* section: depositar efectivo 01 */

#depositar_efectivo_01 select {
    margin-bottom: 15px;
}

#depositar_efectivo_01 input[type='text'] {
    margin-bottom: 15px;
}

#depositar_efectivo_01 .columna_1 {
    padding-right: 30px;
}

#depositar_efectivo_01 .keyboard {
    margin-bottom: 41px;
}

/* section: depositar efectivo 02 */

#depositar_efectivo_02 .columna_1 {
    padding-right: 30px;
}

#depositar_efectivo_02 .contenido {
    height: 280px;
    overflow: hidden;
    margin-bottom: 20px;
}

#depositar_efectivo_02 .botonera {

}

#depositar_efectivo_02 .columna_2 {
    text-align: right;
}

/* section: depositar efectivo 03 */

#depositar_efectivo_03 .columna_1 {
    padding-right: 30px;
}

#depositar_efectivo_03 .contenido {
    height: 320px;
    overflow: hidden;
    margin-bottom: 20px;
}

#depositar_efectivo_03 hr {
    margin: 20px 0;
}

#depositar_efectivo_03 .botonera {

}

#depositar_efectivo_03 .columna_2 {
    text-align: right;
}

/* section: depositar sobre 01 */

#depositar_sobre #first .columna_1 {
    padding-right: 30px;
}

#depositar_sobre #first select {
    margin-bottom: 15px;
}

#depositar_sobre #first .contenido {
    height: 280px;
    overflow: hidden;
    margin-bottom: 20px;
}

#depositar_sobre #first .botonera {

}

#depositar_sobre #first .columna_2 {
    text-align: right;
}

/* section: menu principal */

#depositar_sobre #second .contenido {
    height: 280px;
    overflow: hidden;
    margin-bottom: 20px;
}

#depositar_sobre #second .mensaje {
    margin-bottom: 20px;
}

#depositar_sobre #second .botonera {
    height: 170px;
    overflow: hidden;
}

#depositar_sobre #second .botonera .columna {
    padding: 0 10px;
}

#depositar_sobre #second .botonera .columna a {
    margin-bottom: 10px;
}

#depositar_sobre #second hr {
    margin: 25px 0;
}

#depositar_sobre #second .botonera_pie .columna {
    padding: 0 10px;
}

#depositar_sobre #second .botonera_pie .columna a {
    margin-right: 20px;
}

/* section: depositar sobre 03 */

#depositar_sobre .amount_input {

}

#depositar_sobre .amount_input .contenido {
    height: 280px;
    overflow: hidden;
    margin-bottom: 20px;
}

#depositar_sobre .amount_input .columna_1 {
    padding-right: 60px;
}

#depositar_sobre .amount_input select {
    margin-bottom: 20px;
}

#depositar_sobre .amount_input .botonera {

}

#depositar_sobre .amount_input .columna_2 {
    text-align: right;
}

/* section: depositar sobre 04 */

#depositar_sobre_04 {

}

#depositar_sobre_04 .contenido {
    height: 280px;
    overflow: hidden;
    margin-bottom: 20px;
}

#depositar_sobre_04 .columna_1 {
    padding-right: 60px;
}

#depositar_sobre_04 select {
    margin-bottom: 20px;
}

#depositar_sobre_04 .botonera {

}

#depositar_sobre_04 .columna_2 {
    text-align: right;
}

/* section: depositar sobre 05 */

#depositar_sobre #envelope_code {

}

#depositar_sobre #envelope_code .contenido {
    height: 280px;
    overflow: hidden;
    margin-bottom: 20px;
}

#depositar_sobre #envelope_code .columna_1 {
    padding-right: 60px;
}

#depositar_sobre #envelope_code select {
    margin-bottom: 20px;
}

#depositar_sobre #envelope_code .botonera {

}

#depositar_sobre #envelope_code .columna_2 {
    text-align: right;
}

/* section: depositar sobre 06 */

#depositar_sobre_06 .contenido {
    height: 280px;
    overflow: hidden;
    margin-bottom: 20px;
}

#depositar_sobre_06 .botonera {

}

#depositar_sobre_06 .columna_2 {
    text-align: right;
}

/* section: depositar sobre 07 */

#depositar_sobre_07 .columna_1 {
    padding-right: 30px;
}

#depositar_sobre_07 .contenido {
    height: 320px;
    overflow: hidden;
    margin-bottom: 20px;
}

#depositar_sobre_07 hr {
    margin: 20px 0;
}

#depositar_sobre_07 .botonera {

}

#depositar_sobre_07 .columna_2 {
    text-align: right;
}

/* section: contar dinero 01 */

#contar_dinero_01 .contenido {
    height: 340px;
    overflow: hidden;
    margin-bottom: 20px;
}

#contar_dinero_01 select {
    width: 300px;
}

#contar_dinero_01 .botonera {

}

#contar_dinero_01 .columna_2 {
    text-align: right;
}

/* section: contar dinero 02 */

#contar_dinero_02 .contenido {
    height: 280px;
    overflow: hidden;
    margin-bottom: 20px;
}

#contar_dinero_02 .columna_1 {
    padding-right: 50px;
}

#contar_dinero_02 .botonera {

}

#contar_dinero_02 .columna_2 {
    text-align: right;
}

/* section: separar dinero 01 */

#separar_dinero_01 .contenido {
    height: 340px;
    overflow: hidden;
    margin-bottom: 20px;
}

#separar_dinero_01 select {
    width: 300px;
}

#separar_dinero_01 .botonera {

}

#separar_dinero_01 .columna_2 {
    text-align: right;
}

/* section: separar dinero 02 */

#separar_dinero_02 .columna_1 {
    padding-right: 30px;
}

#separar_dinero_02 select {
    margin-bottom: 10px;
}

#separar_dinero_02 input {
    margin-bottom: 10px;
}

#separar_dinero_02 .contenido {
    height: 280px;
    overflow: hidden;
    margin-bottom: 20px;
}

#separar_dinero_02 .botonera {

}

#separar_dinero_02 .columna_2 {
    text-align: right;
}

/* section: separar dinero 03 */

#separar_dinero_03 .columna_1 {
    padding-right: 30px;
}

#separar_dinero_03 .contenido {
    height: 320px;
    overflow: hidden;
    margin-bottom: 20px;
}

#separar_dinero_03 hr {
    margin: 20px 0;
}

#separar_dinero_03 .botonera {

}

#separar_dinero_03 .columna_2 {
    text-align: right;
}
