/** Main layout **/

#header { padding: 10px 0; position: relative; }

.header{
    background-image: url(../images/prosegur_header.gif);
    background-repeat: no-repeat;
    width: 790px;
    height: 86px;
    position:relative;
    z-index:8000;
}

.homelink{left:56px;position:absolute;top:5px;}
.userLink{right:10px;position:absolute;bottom:17px;}

.menu-button-fixed-size-btn {
    width: 250px !important;
}

.glory-button-fixed-size-btn {
    width: 150px !important;
}