#{extends 'main.html' /}
#{set title:'Reference' /}

<div>
    <h1>Ingrese referencia</h1>
    <form action="${request.url}" method="POST">
        #{ifErrors}
        <p class="error">
            All fields are required!
        </p>
        #{/ifErrors}

        <p>
            <label for="reference1">Reference1</label>
            <select name="reference1">
                #{list items:referenceCodes, as:'reference'}
                <li class="numvalue">${reference.toString()}</li>
                <option value="${reference.numericId}">${reference.textId}</option>
                #{/list}
            </select>
        </p>

        <p>
            <label for="reference2">Reference2</label>
            <input type="text" name="reference2" id="reference2" />
        </p>

        <p>
            <input type="submit" value="Begin Deposit" />
        </p>
    </form>
    #{form @Application.index()}
    #{ifErrors}
    <p class="error">
        All fields are required!
    </p>
    #{/ifErrors}
    <p>
        <input type="submit" value="Go Home" />
    </p>
    #{/form}
