#{set title:'MeiEbds (Comandos)' /}
#{extends 'main.html' /}

#{set 'moreStyles'}
<style>
    .circle {
        background: yellow;
        border-radius: 100%;
        font-size: x-large;
    }
</style>
#{/set}

<section id ="menu_principal">
    <header></header>
    <nav>
        #{if hasClass}
        <a id ="backButton" href="@{DeviceController.commands(deviceId)}" class="boton_top">◄ &{ 'application.back' }</a>
        #{/if}
        #{else}
        <a id ="backButton" href="@{DeviceController.list()}" class="boton_top">◄ &{ 'application.back' }</a>
        #{/else}
    </nav>
    <article>
        <div class="botonera">
            <ul class="on-2 unit">
                <li class="column">
                    <div style="margin:20px;">
                        <a class="boton ${play.configuration['style.button_color']} full_width" href="@{MeiEbdsController.resetDevice(deviceId)}">Reset</a>
                        <a class="boton ${play.configuration['style.button_color']} full_width" href="@{MeiEbdsController.count(deviceId)}">Count</a>
                        <a class="boton ${play.configuration['style.button_color']} full_width" href="@{MeiEbdsController.cancel(deviceId)}">Cancel</a>
                        <a class="boton ${play.configuration['style.button_color']} full_width" href="@{MeiEbdsController.store(deviceId)}">Store</a>
                        <a class="boton ${play.configuration['style.button_color']} full_width" href="@{MeiEbdsController.reject(deviceId)}">Reject</a>
                    </div>
                </li>
                <li class="column">
                    <div class="columna" style="height: 100%; padding: 20px;">
                        <p>LAST EVENT:<span id="last_event">${lastEvent}</span></p>
                    </div>
                </li>
            </ul>

        </div>
    </article>
</section>

#{set 'moreScripts'}
<script src="@{'/public/javascripts/main_loop.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script type="text/javascript" charset="${_response_encoding}">
    function repr(number) {
        if (number < 0) {
            number = 0xFF + number + 1;
        }
        return "0x" + number.toString(16).toUpperCase() + " : { " + number.toString(2).toUpperCase() + " }";
    }
    doRefresh = function() {
        $.getJSON('@{MeiEbdsController.getStatus(deviceId)}', function(data) {
            var lastEvent = data[ 0 ];
            $("#last_event").text(repr(lastEvent));
            doneRefresh();
        })
    };

</script>
#{/set}
