#{extends 'Printer/ticket_160mm.html' /}
<img src="public/images/logo.gif">
<p><b>&{ 'application.thanks' }</b></p>
#{if ( formData.showReference1 && formData.reference1 != "" ) }
<p>&{ 'counting_page.reference1_title' }: ${formData.reference1.lov}</p>
#{/if}
#{if ( formData.showReference2 && formData.reference2 != "" ) }
<p>&{ 'counting_page.reference2_title' }: ${formData.reference2}</p>
#{/if}
<p>&{ 'summary.total' }: ${depositTotal} ${formData.currency.currency.description}</p>
<p>&{ 'summary.transaction_code' }: ${deposit.depositId}</p>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="font-size: smaller">
    <thead>
        <tr>
            <th>&{ 'counting_page.denomination' }</th>
            <th>&{ 'counting_page.quantity' }</th>
            <th>&{ 'counting_page.total' }</th>
        </tr>
    </thead>
    <tbody>
        <!-- detalle de billetes -->
        %{ total = 0; cnt_total = 0;}%
        #{list items:billData, as:'b'}
        <tr id="BTRID_${b.tid}">
            <td id="bill_denomination">${b.d}</td>
            <td id="bill_quantity">${b.q}</td>
            <td id="bill_total">${b.d  * b.q}</td>
            %{ total += b.d  * b.q; cnt_total += b.q }%
        </tr>
        #{/list}
        <!-- /detalle de billetes -->
    </tbody>

    <tfoot>
        <tr>
            <td><b>&{ 'counting_page.totals' }</b></td>
            <!-- totales -->
            <td id ="cnt_total"><b>${ cnt_total }</b></td>
            <td id ="total"><b>${ total }</b></td>
            <!-- /totales -->
        </tr>
    </tfoot>
</table>
<br/>
${ deposit.finishDate.format('dd/MM/yyyy hh:mm:ss') }&nbsp;S.E.U.O.
