#{extends 'Printer/ticket_160mm.html' /}
<center><img src="public/images/logo.png"></center>
<p><b>&{ 'application.thanks' }</b></p>
#{if ( formData.showReference1 && formData.reference1 != "" ) }
<p>&{ 'counting_page.reference1_title' }: ${formData.reference1.lov}</p>
#{/if}
#{if ( formData.showReference2 && formData.reference2 != "" ) }
<p>&{ 'counting_page.reference2_title' }: ${formData.reference2}</p>
#{/if}
<p>&{ 'summary.total' }: ${depositTotal} ${formData.currency.currency.description}</p>
<p>&{ 'summary.transaction_code' }: ${deposit.depositId}</p>
<br/>
#{ bills_table_printer bill_data: billData /}
<br/>
${ deposit.finishDate.format('dd/MM/yyyy hh:mm:ss') }&nbsp;S.E.U.O.
