#{extends 'main.html' /}
#{set depositTitle:'Home' /}
<section>
    <header></header>
    <article>
        <h1 class="casa">&{'main_menu.title'}</h1>
        <div class="contenido">
            #{if ( controllers.Secure.getCurrentUser() != null && ! controllers.Secure.getCurrentUser().isGuest() ) }
            <div class="mensaje">
                <span>
                    &{ 'application.wellcome' }&nbsp;#{usernameTag user:controllers.Secure.getCurrentUser()/}&nbsp;&{'application.choose_one'}
                </span>
            </div>
            #{/if}
            #{else}
            <div class="mensaje"><span>&{'application.choose_one'}</span></div>
            #{/else}

            <div class="botonera">
                <ul class="on-2 unit">
                    #{menuButtons buttons: buttons, perms: perms, titles: titles/}
                </ul>
            </div>
            &{'application.bagTotals', totals._3, totals._2 }<br/>
            &{'application.bagSpace', bagFreeSpace }<br/>
            <div id="checkPrinter" style="color: red; #{if !checkPrinter}display: none;#{/if}">&{'application.checkPrinter'}</div><br/>
        </div>
        <hr />
        #{menuBottomButtons}
        <!-- boton otras operaciones -->
        #{ifAuthorized resource: 'MenuController.otherMenu', operation: 'GET', fill: 1}
        <a href="@{MenuController.otherMenu}" class="boton gris full_width">&{'main_menu.other_operations'}</a>
        #{/ifAuthorized}
        #{/menuBottomButtons}
    </article>
</section>


#{set 'moreScripts'}
<script src="@{'/public/javascripts/main_loop.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script type="text/javascript" charset="${_response_encoding}">
    doRefresh = function() {
        $.getJSON( '@{MenuController.mainMenu}', function( data ) {
            var checkPrinter = data[ 0 ];
            if ( checkPrinter ){
                $("#checkPrinter").show();
            } else{
                $("#checkPrinter").hide();
            }
            doneRefresh();
        } );

    }
</script>
#{/set}