#{extends 'main.html' /}
#{set title:messages.get('crud.title') /}
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/crud.css'}" />
#{/set}

<section id="menu_principal">
    <header></header>
    <a href="@{MenuController.otherMenu(1)}" class="boton_top">◄ &{ 'application.back' }</a>

    #{if request.actionMethod != 'index'}
    <div id="crudBreadcrumb">
        #{crud.navigation /}
    </div>
    #{/if}

    #{if flash.success}
    <div class="crudFlash flashSuccess">
        ${flash.success}
    </div>
    #{/if}
    #{if flash.error || error}
    <div class="crudFlash flashError">
        ${error ?: flash.error}
    </div>
    #{/if}

    <div id="crudContent">
        <div id="crudIndex">
            <table>
                <thead>
                    <tr>
                        <th>&{'crud.index.objectType'}</th>
                        <th width="100%">&{'crud.index.action'}</th>
                    </tr>
                </thead>
                <tbody>
                    #{crud.types}
                    <tr>
                        <td>
                            <a href="${type.listAction}">&{type.name}</a>
                        </td>
                        <td class="crudNew" >
                            <a href="${type.blankAction}">&{'crud.index.add', type}</a>
                        </td>
                    </tr>
                    #{/crud.types}
                </tbody>
            </table>

        </div>
    </div>

</section>