#{extends 'main.html' /}
#{set title:'Contar Dinero' /}

<section id="depositar_efectivo_01">
    <header></header>
    <a href="@{Application.index}" class="boton_top">◄ &{ 'application.back' }</a>
    <article>
        <h1 class="contar_dinero">&{ 'main_menu.count' }</h1>
        <ul class="columns">
            #{form @start(formData), 'id' : 'startCountingForm' }
            
            #{ifErrors}
            <p class="error">
                All fields are required!
            </p>
            #{/ifErrors}
            <li class="fixed column" style="width: 60%">
                <div class="columna_1">
                    <div class="mensaje"><span>&{ 'input_reference.choose_currency_before' }</span></div>
                    #{select 'formData.currency.value', items: currencies, valueProperty:'numericId', labelProperty:'textId', value:formData.currency, class : 'full_width' /}
                </div>
            </li>
            <li class="fixed column" style="width: 40%">
                <a id ="startCountingButton" href="#" class="boton gris">&{ 'input_reference.start_counting' }</a>
            </li>
            #{/form}
        </ul>
    </article>
</section>


#{set 'moreScripts'}
<script type="text/javascript" charset="${_response_encoding}">

    $( '#startCountingButton' ).click( function(event) {
       $( '#startCountingForm').submit();
    });
</script>
#{/set}