#{extends 'main.html' /}
#{set title:'Doing transaction..' /}

<section id="depositar_efectivo_03">
    <header></header>
    <article>
        <h1 class="depositar_efectivo">&{ 'main_menu.cash_deposit' }</h1>
        <div class="mensaje"><span>&{ 'counting_page.deposit_canceled' }</span></div>
        <h2>&{ 'counting_page.thanks' }</h2>
        <!-- datos del deposito -->
        <p>&{ 'counting_page.reference1_title' }: ${userCode}</p>
        <p>&{ 'counting_page.reference2_title' }: ${userCodeLov}</p>
        <p>&{ 'counting_page.client_code_title' }: ${clientCode}</p>
        <!-- /datos del deposito -->
    </article>
</section>

#{set 'moreScripts'}
<script type="text/javascript" charset="${_response_encoding}">
    var waiting = false;
    
    // Reload the whole messages panel
    function refresh() {
        if ( waiting ) {
            return;
        }
        waiting = true;
        $.getJSON( '@{BillDepositController.countingPage}', function( data ) {
            waiting = false;
            var status = data[ 0 ];
            var billData = data[ 1 ];
            if ( status != null && status.toString() != 'null' ) {
                if ( status == 'IDLE' ) {
                } else if ( status == 'READY_TO_STORE' ) {
                    $( '#continueButton' ).attr( { 'class' : 'boton naranja'});
                    $( '#continueButton' ).click( function(event) {
                        $( '#continueForm').submit();
                    });
                } else {
                    alert( status );
                }
            }
            var total = 0;
            var cnt_total = 0;
            for( var i = 0 ; i < billData.length; i ++ ) {
                var nid = '#BTRID_' + billData[ i ].billTypeId;
                $( nid ).children( '#bill_denomination' ).html( billData[ i ].denomination );
                $( nid ).children( '#bill_quantity' ).html( billData[ i ].quantity );
                var t = ( billData[ i ].denomination * billData[ i ].quantity );
                $( nid ).children( '#bill_total' ).html( t );
                total += t;
                cnt_total += billData[ i ].quantity;
            }
            $( '#cnt_total' ).html( cnt_total );
            $( '#total' ).html( total );
        })
    }
    $( '#continueButton' ).click( function(event) {
        event.preventDefault();
    });
    // Call refresh every 1.5 seconds
    setInterval(refresh, 1500);
    refresh();
</script>

#{/set}
