#{extends 'main.html' /}
#{set title:'Depositar Efectivo' /}
<section id="depositar_efectivo_03">
    <header></header>
    <article>
        <div class="contenido">
            <h1 class="depositar_efectivo">&{ 'main_menu.cash_deposit' }</h1>
            <div class="mensaje"><span>&{ 'summary.ticket' }</span></div>
            <h2>&{ 'application.thanks' }</h2>
            <!-- datos del deposito -->
            <p>&{ 'counting_page.reference1_title' }: ${formData.reference1.lov}</p>
            <p>&{ 'counting_page.reference2_title' }: ${formData.reference2}</p>
            <p>&{ 'summary.total' }: ${depositTotal} ${formData.currency.currency.textId}</p>
            <!-- /datos del deposito -->
        </div>
        <hr />
        <div class="botonera">
            <ul class="columns">
                <li class="fixed column" style="width: 50%">
                    <!-- link cancelar -->
                    <a href="@{Application.index()}" class="boton gris">&{ 'main_menu.title' }</a>
                </li>
                <li class="fixed column" style="width: 50%">
                    <div class="columna_2">
                        #{if ( controllers.Secure.getCurrentUser() != null && ! controllers.Secure.getCurrentUser().isGuest() ) }
                        <a href="@{ Secure.logout( "Application.index" ) }" class="boton verde">&{'main_menu.logout'}</a>
                        #{/if}
                    </div>
                </li>
            </ul>
        </div>
    </article>
</section>