#{extends 'main.html' /}
#{set title:'Doing transaction..' /}

<section id="depositar_efectivo_02">
    <header></header>
    <!-- link volver -->
    <a href="@{cancel()}" class="boton_top">◄ &{ 'application.back' }</a>
    <article>
        <h1 class="depositar_efectivo">&{ 'main_menu.cash_deposit' }</h1>

        <div class="contenido">
            <ul class="columns">
                <li class="fixed column" style="width: 45%">
                    <div class="columna_1">
                        <!-- resumen de datos -->
                        <p>&{ 'counting_page.currency_title' }: ${formData.currency.currency.textId}</p>
                        <p>&{ 'counting_page.reference1_title' }: ${formData.reference1.lov}</p>
                        <p>&{ 'counting_page.reference2_title' }: ${formData.reference2}</p>
                        <p>&{ 'counting_page.client_code_title' }: ${clientCode}</p>
                        <p>&nbsp;</p>
                        <!-- /resumen de datos -->
                        <div id="info_message" style="color: green;"> 

                        </div>
                    </div>
                </li>
                <li class="fixed column" style="width: 55%">
                    <table class="full_width">
                        <thead>
                            <tr>
                                <th>&{ 'counting_page.denomination' }</th>
                                <th>&{ 'counting_page.quantity' }</th>
                                <th>&{ 'counting_page.total' }</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- detalle de billetes -->
                            %{ total = 0; cnt_total = 0;}%
                            #{list items:billData, as:'b'}
                            <tr id="BTRID_${b.tid}">
                                <td id="bill_denomination">${b.d}</td>
                                <td id="bill_quantity">${b.q}</td>
                                <td id="bill_total">${b.d  * b.q}</td>
                                %{ total += b.d  * b.q; cnt_total += b.q }%
                            </tr>
                            #{/list}
                            <!-- /detalle de billetes -->
                        </tbody>

                        <tfoot>
                            <tr>
                                <td>&{ 'counting_page.totals' }</td>
                                <!-- totales -->
                                <td id ="cnt_total">${ cnt_total }</td>
                                <td id ="total">${ total }</td>
                                <!-- /totales -->
                            </tr>
                        </tfoot>
                    </table>
                </li>
            </ul>
        </div>
        <div class="botonera">
            <ul class="columns">
                <li class="fixed column" style="width: 50%">
                    <!-- link cancelar -->
                    <a id ="cancelButton" href="#" class="boton rojo">&{ 'application.cancel' }</a>
                </li>
                <li class="fixed column" style="width: 50%">
                    <div class="columna_2">
                        <!-- link continuar -->
                        <a id ="continueButton" href="#" class="boton gris">&{ 'application.continue' }</a>
                    </div>
                </li>
            </ul>
        </div>
    </article>
    <div id="alerta_escrow_full" class="alerta info" style="display: none;">
        <div id="alerta_titulo">&{ 'bill_deposit.escrow_full' }</div>
        <div id="alerta_cuerpo">
            <div id="alerta_texto">
                <span id="error_text">&{ 'bill_deposit.escrow_full_text' }</span>
            </div>
            <div id="alerta_botonera">
                <a id ="alerta_cancelButton" href="#" class="boton rojo">&{ 'application.cancel' }</a>
                <a id="alerta_continueButton" class="boton naranja">&{ 'application.continue' }</a>
            </div>
        </div>
    </div>
</section>

#{set 'moreScripts'}
<script type="text/javascript" charset="${_response_encoding}">
    var waiting = false;
    var lastStatus = "false";
    
    // Reload the whole messages panel
    function refresh() {
        if ( waiting ) {
            return;
        }
        waiting = true;
        $.getJSON( '@{mainLoop}', function( data ) {
            waiting = false;
            var status = data[ 0 ];
            var billData = data[ 1 ];
            if ( status != null && status.toString() != 'null' ) {
                $( '#info_message' ).html(  data[ 2 ] );
                if ( status == 'IDLE' || status == 'CANCELING' ) {
                } else if ( status == 'ESCROW_FULL_STORING' || status == 'READY_TO_STORE_STORING' ) {
                } else if ( status == 'ESCROW_FULL' ) {
                    if ( lastStatus != status ) {
                        waiting = true;
                        $("#alerta_escrow_full").overlay().load();
                        $( '#continueButton' ).attr( { 'class' : 'boton naranja'});
                    }
                } else if ( status == 'FINISH' ) {
                    window.location.href = "@{finish}";
                    return;
                } else if ( status == 'READY_TO_STORE' ) {
                    $( '#continueButton' ).attr( { 'class' : 'boton naranja'});
                } else if ( status == 'ERROR' ) {
                    window.location.href = "@{Application.counterError()}";
                } else {          
                    alert( "Invalid status : " + status + " last status : " + lastStatus );
                }
                lastStatus = status
            }
            var total = 0;
            var cnt_total = 0;
            for( var i = 0 ; i < billData.length; i ++ ) {
                var nid = '#BTRID_' + billData[ i ].tid;
                $( nid ).children( '#bill_denomination' ).html( billData[ i ].d );
                $( nid ).children( '#bill_quantity' ).html( billData[ i ].q );
                var t = ( billData[ i ].d * billData[ i ].q );
                $( nid ).children( '#bill_total' ).html( t );
                total += t;
                cnt_total += billData[ i ].q;
            }
            $( '#cnt_total' ).html( cnt_total );
            $( '#total' ).html( total );
        })
    }
    
    $( '#cancelButton' ).click( function(event) {
        $.getJSON( '@{cancel()}', function( data ) {});
    });
    
    $( '#continueButton' ).click( function(event) {
        if ( lastStatus == 'IDLE' ) {
        } else if ( lastStatus == 'ESCROW_FULL' ) {
            $("#alerta_escrow_full").overlay().load();
        } else if ( lastStatus == 'READY_TO_STORE' ) {
            $.getJSON( '@{accept()}', function( data ) {});
        } else {
            alert( "Invalid last status : " + lastStatus );
        }
    });
    
    
    $( '#alerta_cancelButton' ).click( function(event) {
        $("#alerta_escrow_full").overlay().close();
        waiting = false;
        $.getJSON( '@{cancel()}', function( data ) {});
    });
    
    $( '#alerta_continueButton' ).click( function(event) {
        $("#alerta_escrow_full").overlay().close();
        waiting = false;
        if ( lastStatus == 'IDLE' || lastStatus == 'ESCROW_FULL_STORING' ) {
            // waiting the glory.
        } else if ( lastStatus == 'ESCROW_FULL' ) {
            $.getJSON( '@{accept()}', function( data ) {});
        } else {
            alert( "Invalid last status : " + lastStatus );
        }
    });
    // Call refresh every 1.5 seconds
    setInterval(refresh, 500);
    refresh();
</script>
#{/set}
