#{extends 'main.html' /}
#{set title:'Doing transaction..' /}

<section id="depositar_efectivo_02">
    <header></header>
    <!-- link volver -->
    <!--    <a href="@{cancel()}" class="boton_top">◄ &{ 'application.back' }</a>-->
    <article>
        <h1 class="depositar_efectivo">&{ 'main_menu.cash_deposit' }</h1>

        <div class="contenido">
            <ul class="columns">
                <li class="fixed column" style="width: 45%">
                    <div class="columna_1">
                        <!-- resumen de datos -->
                        <p style="font-size: larger;">&{ 'application.wellcome_x' }&nbsp;${user?.username}</p>
                        <p style="font-size: larger;">${user?.gecos}</p>
                        <p>&{ 'counting_page.currency_title' }: ${formData.currency.currency.description}</p>
                        #{if ( formData.showReference1 ) }
                        <p>&{ 'counting_page.reference1_title' }: ${formData.reference1.lov}</p>
                        #{/if}
                        #{if ( formData.showReference2 && formData.reference2 != "" ) }
                        <p>&{ 'counting_page.reference2_title' }: ${formData.reference2}</p>
                        #{/if}
                        <p>&{ 'counting_page.client_code_title' }: ${clientCode}</p>
                        <div id="total_sum_field" style="display: none;">
                            <p>&{ 'counting_page.total_sum' }: <span class="totalSum">${totalSum}</span></p>
                        </div>
                        <p>&{ 'counting_page.current_total_sum' }: <span class="currentTotalSum">${currentTotalSum}</span></p>
                        <p>&nbsp;</p>
                        <!-- /resumen de datos -->
                        <div class="info_message blink" style="color: green; font-size: x-large;"> 
                        </div>
                    </div>
                </li>
                <li class="fixed column" style="width: 55%">
                    <table class="full_width">
                        <thead>
                            <tr>
                                <th>&{ 'counting_page.denomination' }</th>
                                <th>&{ 'counting_page.quantity' }</th>
                                <th>&{ 'counting_page.total' }</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- detalle de billetes -->
                            %{ total = 0; cnt_total = 0;}%
                            #{list items:billData, as:'b'}
                            <tr class="BTRID_${b.tid}">
                                <td class="bill_denomination">${b.d}</td>
                                <td class="bill_quantity">${b.q}</td>
                                <td class="bill_total">${b.d  * b.q}</td>
                                %{ total += b.d  * b.q; cnt_total += b.q }%
                            </tr>
                            #{/list}
                            <!-- /detalle de billetes -->
                        </tbody>

                        <tfoot>
                            <tr>
                                <td>&{ 'counting_page.totals' }</td>
                                <!-- totales -->
                                <td class ="cnt_total">${ cnt_total }</td>
                                <td class ="total">${ total }</td>
                                <!-- /totales -->
                            </tr>
                        </tfoot>
                    </table>
                </li>
            </ul>
        </div>
        <div class="botonera">
            <ul class="columns">
                <li class="column">
                    <div class="columna">
                        <!-- link cancelar -->
                        <a id ="cancelButton" href="#" class="boton full_width rojo">&{ 'application.cancel' }</a>
                    </div>
                </li>
                <li class="column">
                    <div class="columna">
                        <!-- link continuar -->
                        <a id ="continueButton" href="#" class="boton full_width ${play.configuration['style.button_color']}" style="display: none;">&{ 'application.continue' }</a>
                    </div>
                </li>
            </ul>
        </div>
    </article>
    <div id="alerta_escrow_full" class="alerta info" style="display: none;">
        <div id="alerta_titulo">&{ 'bill_deposit.escrow_full' }</div>
        <div id="alerta_cuerpo">
            <div id="alerta_texto">
                <div id="error_text">
                    &{ 'bill_deposit.escrow_full_text_t1' }
                    <span class="total">${ total }</span>&nbsp;${formData.currency.currency.description}<br>
                    &{ 'bill_deposit.escrow_full_text_t2' }
                </div>
            </div>
        </div>
        <div id="alerta_botonera">
            <a id ="alerta_cancelButton" href="#" class="boton rojo">&{ 'application.cancel' }</a>
            <a id="alerta_continueButton" class="boton ${play.configuration['style.button_color']}">&{ 'application.continue' }</a>
        </div>
    </div>
    <div id="alerta_timeout" class="alerta info" style="display: none;">
        <div id="alerta_titulo">&{ 'application.timeout' }</div>
        <div id="alerta_cuerpo">
            <div id="alerta_texto">
                <span id="error_text">&{ 'application.timeout_detail' }</span>
            </div>
            <div id="timeout_botonera">
                <a id ="timeout_cancelButton" href="#" class="boton rojo">&{ 'application.cancel' }</a>
                <a id="timeout_continueButton" class="boton ${play.configuration['style.button_color']}">&{ 'application.continue' }</a>
            </div>
        </div>
    </div>
    <div id="alerta_cancel" class="alerta info" style="display: none;">
        <div id="alerta_titulo">&{ 'application.canceling' }</div>
        <div id="alerta_cuerpo">
            <div id="alerta_texto">
                <div id="error_text">
                    <span>&{ 'application.canceling_detail' }</span>
                    <span class="info_message" style="color: green;"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="alerta_storing" class="alerta info" style="display: none;">
        <div id="alerta_titulo">&{ 'counting_page.storing' }</div>
        <div id="alerta_cuerpo">
            <div id="alerta_texto">
                <span id="error_text">&{ 'counting_page.storing_detail' }</span>
                <span class="info_message" style="color: green;"></span>
            </div>
        </div>
    </div>
    <div id="alerta_remove_rejected_bills" class="alerta info" style="display: none;">
        <div id="alerta_titulo">&{ 'counting_page.remove_rejected_bills' }</div>
        <div id="alerta_cuerpo">
            <div id="alerta_texto">
                <span id="error_text">&{ 'counting_page.remove_rejected_bills' }</span>
            </div>
        </div>
    </div>
    <div id="alerta_jam" class="alerta info" style="display: none;">
        <div id="alerta_titulo">&{ 'application.jam' }</div>
        <div id="alerta_cuerpo">
            <div id="alerta_texto">
                <span id="error_text">&{ 'application.jam' }</span>
            </div>
        </div>
    </div>
    <div id="main_overlay" class="alerta info" style="display: none;">
        <div id="overlay_contents"></div>
    </div>
</div>
</section>


#{set 'moreScripts'}
<script src="@{'/public/javascripts/main_loop.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script type="text/javascript" charset="${_response_encoding}">
    doRefresh = function() {
        $.getJSON( '@{mainLoop}', function( data ) {
            
            var status = data[ 0 ];
           
            if ( status != null && status.toString() != 'null' ) {
                if ( status == 'IDLE' || status == 'REMOVE_THE_BILLS_FROM_ESCROW' || status == 'TIMEOUT_WARNING' || status == 'CANCELING' || status == 'READY_TO_STORE' || status == 'CONTINUE_DEPOSIT' ) {
                } else if ( status == 'STORING' ) {
                } else if ( status == 'REMOVE_REJECTED_BILLS' ) {
                } else if ( status == 'JAM' ) {
                } else if ( status == 'ESCROW_FULL' ) {
                } else if ( status == 'FINISH' ) {
                    window.location.href = "@{finish}";
                    return;
                } else if ( status == 'TIMEOUT_WARNING') {
                } else if ( status == 'COUNTING' ) {
                } else if ( status == 'ERROR' ) {
                    window.location.href = "@{counterError()}";
                    return;
                } else {          
                    alert( "Invalid status : " + status + " last status : " + lastStatus );
                }
                
                if ( status == 'ESCROW_FULL' ) {
                    showAlert( "#alerta_escrow_full" );
                } else {
                    closeAlert( "#alerta_escrow_full" );
                }
                if ( status == 'TIMEOUT_WARNING' ) {
                    showAlert( "#alerta_timeout" );
                } else {
                    closeAlert( "#alerta_timeout" );
                }
                if ( status == 'CANCELING' ) {
                    showAlert( '#alerta_cancel' );                
                } else {
                    closeAlert( "#alerta_cancel" );
                }
                if ( status == 'STORING' ) {
                    showAlert( '#alerta_storing' );                
                } else {
                    closeAlert( "#alerta_storing" );    
                }
                if ( status == 'REMOVE_REJECTED_BILLS' ) {
                    showAlert( '#alerta_remove_rejected_bills' );                
                } else {
                    closeAlert( "#alerta_remove_rejected_bills" );    
                }
                if ( status == 'JAM' ) {
                    showAlert( '#alerta_jam' );
                } else {
                    closeAlert( "#alerta_jam" );    
                }
                if ( status == 'READY_TO_STORE' ) {
                    $( '#continueButton' ).show();
                } else {
                    $( '#continueButton' ).hide();
                }
                
                lastStatus = status
            }
                       
            $( '.info_message' ).html(  data[ 2 ] );
            var totalSum = data[ 3 ];
            if ( totalSum > 0 ) {
                $( '.totalSum' ).html( totalSum ).show();
                $( '#total_sum_field' ).show();
            } else {
                $( '#total_sum_field' ).hide();
            }

            var billData = data[ 1 ];
            var total = 0;
            var cnt_total = 0;
            if ( billData ) {
                for( var i = 0 ; i < billData.length; i ++ ) {
                    var nid = '.BTRID_' + billData[ i ].tid;
                    $( nid ).children( '.bill_denomination' ).html( billData[ i ].d );
                    $( nid ).children( '.bill_quantity' ).html( billData[ i ].q );
                    var t = ( billData[ i ].d * billData[ i ].q );
                    $( nid ).children( '.bill_total' ).html( t );
                    total += t;
                    cnt_total += billData[ i ].q;
                }
                $( '.cnt_total' ).html( cnt_total );
                $( '.total' ).html( total );
                if ( status != 'STORING' ) { // when storing the deposit total have the current quantity and the machine still report the same quantity.
                    $( '.currentTotalSum' ).html( parseInt( totalSum ) + parseInt( total ) );
                }
            }
            doneRefresh();
        })
    }
    
    $( '#cancelButton' ).click( function(event) {
        $.getJSON( '@{cancel()}', function( data ) {});
    });
    
    $( '#continueButton' ).click( function(event) {
        if ( lastStatus == 'IDLE' ) {
        } else if ( lastStatus == 'ESCROW_FULL' ) {
            showAlert( "#alerta_escrow_full" );
        } else if ( lastStatus == 'READY_TO_STORE' || lastStatus == 'CONTINUE_DEPOSIT' ) {
            $.getJSON( '@{accept()}', function( data ) {});
        } else {
            //alert( "Invalid last status : " + lastStatus );
        }
    });
    
    
    $( '#alerta_cancelButton' ).click( function(event) {
        //closeAlert( "#alerta_escrow_full" );
        $.getJSON( '@{cancel()}', function( data ) {});
    });
    
    $( '#alerta_continueButton' ).click( function(event) {
        //closeAlert( "#alerta_escrow_full" );
        if ( lastStatus == 'IDLE' || lastStatus == 'READY_TO_STORE' || lastStatus == 'STORING' || lastStatus == 'CONTINUE_DEPOSIT'  ) {
            // waiting the glory.
        } else if ( lastStatus == 'ESCROW_FULL' ) {
            $.getJSON( '@{accept()}', function( data ) {});
        } else {
            alert( "Invalid last status : " + lastStatus );
        }
    });
    
    $( '#timeout_cancelButton' ).click( function(event) {
        closeAlert( "#alerta_timeout" );
        $.getJSON( '@{cancel()}', function( data ) {});
    });
    
    $( '#timeout_continueButton' ).click( function(event) {
        closeAlert( "#alerta_timeout" );
        $.getJSON( '@{cancelTimeout()}', function( data ) {});
    });


</script>
#{/set}
