Total de depositos&nbsp;:&nbsp;${ _bill_data.deposits }&nbsp;
Total de sobres&nbsp;:&nbsp;${ _bill_data.envelopes }&nbsp;
Total de billetes&nbsp;:&nbsp;${ _bill_data.bills }&nbsp;<br>
<ul style="display: inline-block; white-space: nowrap; padding: 4px 0;">
    #{list items:_bill_data.currencies, as:'currency'}
    <li style="display: inline-block; margin: 0 4px; vertical-align: top;">
        <div>
            <h2>${currency}</h2>
            <table class="">
                <thead>
                    <tr>
                        <th>&{ 'message.denomination' }</th>
                        <th>&{ 'message.quantity' }</th>
                        <th>&{ 'message.total' }</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- detalle de billetes -->
                    %{ total = 0; cnt_total = 0;}%
                    #{list items:_bill_data.getDetail( currency ), as:'b'}
                    <tr class="BTRID_${b.key}">
                        <td id="bill_denomination">${b.denomination}</td>
                        <td class="bill_quantity">${b.quantity}</td>
                        <td class="bill_total">${b.ammount}</td>
                        %{ total += b.ammount; cnt_total += b.quantity; }%
                    </tr>
                    #{/list}
                    <!-- /detalle de billetes -->
                </tbody>

                <tfoot>
                    <tr>
                        <td>&{ 'message.totals' }</td>
                        <!-- totales -->
                        <td class ="cnt_total">${ cnt_total }</td>
                        <td class ="total">${ total }</td>
                        <!-- /totales -->
                    </tr>
                </tfoot>
            </table>
            <p>
                Total de dinero validado ${ _bill_data.byCurrencyTotal.get( currency ).validatedAmmount }<br>
                Total de billetes ${ _bill_data.byCurrencyTotal.get( currency ).validatedQuantity }<br>
            </p>
            <p>
                Total de dinero sin validar ${ _bill_data.byCurrencyTotal.get( currency ).toValidateTotal }<br>
                <span class="tab">Efectivo : ${ _bill_data.byCurrencyTotal.get( currency ).cashToValidate }</span><br>
                <span class="tab">Cheques : ${ _bill_data.byCurrencyTotal.get( currency ).checksToValidate }</span><br>
                <span class="tab">Tickets : ${ _bill_data.byCurrencyTotal.get( currency ).ticketsToValidate }</span><br>
            </p>
        </div>
    </li>
    #{/list}
</ul>
