#{extends 'main.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/crud.css'}" />
#{/set}

<section id="menu_principal">
    <header>
        <h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>
    </header>
    <article>
        <a href="@{CRUD.index}" class="boton_top">◄ &{ 'application.back' }</a>

        <div id="crudShow" class="${type.name}">


            <div class="objectForm">
                #{form action:@save(object._key()), enctype:'multipart/form-data'}
                #{crud.form /}
                <p class="crudButtons">
                    <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
                    <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
                </p>
                #{/form}
            </div>

            #{form @delete(object._key())}
            <p class="crudDelete">
                <input type="submit" value="&{'crud.delete', type.modelName}" />
            </p>
            #{/form}

        </div>
    </article>

</section>