#{extends 'main.html' /}
#{set title:'Depositar Efectivo' /}
<section id="counterError">
    <header></header>
    <article>
        <h1 class="">&{ 'application.error' }</h1>
        <div class="contenido">
            <p id="mstatus">ModelFacade status ${ mstatus }</p>
            <p id="merror">ModelFacade error ${ merror }</p>
            <p id="gstatus">Glory Status ${ gstatus }</p>
            <p id="gerror">Glory Error ${ gError }</p>
            <p id="ierror">IOBoard Status ${ istatus }</p>
            <p id="ierror">IOBoard Error ${ ierror }</p>
            #{checkPermission resource: 'Application.reset', operation: 'GET'}
            <a class="boton naranja full_width" href="@{counterError(1)}">Reset</a>
            #{/checkPermission}
            #{checkPermission resource: 'Application.storingReset', operation: 'GET'}
            <a class="boton naranja full_width" href="@{counterError(2)}">StoringErrorReset</a>
            #{/checkPermission}
            <!-- datos del deposito -->
            <!-- /datos del deposito -->
        </div>
        <hr />
        <div class="botonera">
            <ul class="columns">
                <li class="fixed column" style="width: 50%">
                    <!-- link cancelar -->
                    <!--                    #{if isError }
                                        <a href="@{counterError()}" class="boton gris">Refresh</a>
                                        #{/if}
                                        #{else}
                                        #{/else}-->
                    <a href="@{Application.index()}" class="boton gris">&{ 'main_menu.title' }</a>
                </li>
                <li class="fixed column" style="width: 50%">
                    <div class="columna_2">
                        #{if ( controllers.Secure.getCurrentUser() != null && ! controllers.Secure.getCurrentUser().isGuest() ) }
                        <a href="@{ Secure.logout( "Application.index" ) }" class="boton verde full_width">&{'main_menu.logout'}</a>
                        #{/if}
                        #{else}
                        <a href="@{ Secure.login}" class="boton verde full_width">&{'main_menu.login'}</a>
                        #{/else}
                    </div>
                </li>
            </ul>
        </div>
    </article>
</section>



#{set 'moreScripts'}
<script type="text/javascript" charset="${_response_encoding}">
    var waiting = false;
    
    // Reload the whole messages panel
    function refresh() {
        if ( waiting ) {
            return;
        }
        waiting = true;
        $.getJSON( '@{counterError}', function( data ) {
            waiting = false;
            //$( '#gstatus' ).html(  data[ 0 ] );
            //$( '#gerror' ).html(  data[ 1 ] );
        });
    }
    // Call refresh every 1.5 seconds
    //setInterval(refresh, 1500);
    //refresh();
</script>
#{/set}
