#{extends 'main.html' /}
#{set title: 'current Z totals' /}
<section>
    <header></header>
    <a href="${ backUrl }" class="boton_top">◄ &{ 'application.back' }</a>
    <article>
        Contenido del cierre contable iniciado el ${ z.creationDate.format('dd/MM/yyyy hh:mm:ss') } y 
        #{ if z.closeDate == null }aun no cerrado#{/if}
        #{ else }cerrado el ${ z.closeDate.format('dd/MM/yyyy hh:mm:ss') }#{/else}
        <br>
        #{ bills_table bill_data: totals /}
    </article>
</section>



