#{extends 'reportList.html' /}
#{set title: 'List Zs' /}
<table style="margin-left: auto; margin-right: auto; border: 1px solid;">
    <thead>
    <th>Transaccion</th>
    <th>Fecha de creacion</th>
    <th>Cierre contable</th>
    <th colspan="4">Acciones</th>
</thead>
<tbody>
    #{list items:data, as:'z' }
    #{if ( ! z.closeDate ) } 
    <tr style="background-color: lightpink;">
        #{/if}
        #{else}
    <tr style="background-color: lightgreen;">
        #{/else}
        <td>${z.zId} </td>
        <td>${z.creationDate?.format('dd/MM/yyyy HH:mm:ss')}</td>
        <td style="width:180px;">
            ${z.closeDate?.format('dd/MM/yyyy HH:mm:ss')}
        </td>
        <td style="background-color: lightblue; border: 1px solid;">
            <a id="${ z.zId }" href="@{detail}" class="submitForm">Detalle</a>
        </td>
        <td style="background-color: lightblue; border: 1px solid;">
            <a id="${ z.zId }" href="@{ReportDepositController.list( 1, null, null, null, z.zId )}" class="NosubmitForm">Depositos</a>
        </td>
        <td style="background-color: lightblue; border: 1px solid;">
            <a id="${ z.zId }" href="@{reprint}" class="submitForm">Reimprimir Ticket</a>
        </td>
    </tr>
    #{/list}
</tbody>
<tfoot> 
    <tr>
        <td colspan="3" style="text-align: left;">Cantidad de cierres contables: ${cnt}</td>
        <td colspan="4" style="text-align: right;">Pagina : ${page} de ${totalPage}</td>
    </tr>
</tfoot>
</table>
