#{extends 'main.html' /}
#{set title:'Doing transaction..' /}

<div>
<h1>Counting..</h1>

<span class="post-reference1">${deposit.toString()}</span>

${batch.toString()}


#{if batch}
    #{if batch.bills}
        
        <ul id="fakeTable">
            <li> 
                <li class="colheading">Denominación</li>
                <li class="colheading">#</li>
                <li class="colheading">Suma</li>
            </li>

            #{list items:batch.bills, as:'bill'}
            <li> 
                <li class="numvalue">${bill.quantity}</li>
                <li class="numvalue">${bill.denomination}</li>
                <li class="numvalue">${bill.getTotal()}</li>
            </li>
            #{/list}

            <li> 
                <li class="numvalue">Total</li>
                <li>&nbsp</li>
                <li class="numvalue">${countResult}</li>
            </li>
        </ul>
        
        #{form @Application.acceptBatch(randomID)}
            <p>
                <input type="submit" value="Accept this?" />
            </p>
        #{/form}        
        
    #{/if}
    #{else}
        No items counted.
    #{/else}    
#{/if}
#{else}
    No count data.
#{/else} 


#{form @Application.index()}
    <p>
        <input type="submit" value="Cancel and go back home" />
    </p>
#{/form}
   
</div>
