#{extends 'main.html' /}
#{set title:'Otras operaciones' /}
<section id ="menu_principal">
    <header></header>
    <a href="@{Application.otherMenu}" class="boton_top">◄ &{ 'application.back' }</a>
    <article>
        <h1 class="casa">&{'other_menu.title'}</h1>
        <div class="contenido">
            <div class="mensaje"><span>&{'application.choose_one'}</span></div>
            <div class="botonera">
                <ul class="on-2 columns">
                    #{otherMenuButton resource: 'GloryController.index', operation: 'GET', title: 'Glory (Comandos)' /}
                    #{otherMenuButton resource: 'GloryManagerController.index', operation: 'GET', title: 'Glory (Manager)' /}
                    #{otherMenuButton resource: 'IoBoardController.index', operation: 'GET', title: 'Io Board( Comandos )' /}
                    #{otherMenuButton resource: 'CounterController.counterError', operation: 'GET', title: 'Status' /}
                </ul>
            </div>
        </div>
        <hr />
        <div class="botonera_pie">
            <ul class="columns">
                <li class="column">
                    <div class="columna">
                    </div>
                </li>
                <li class="column">
                    <div class="columna">
                        <!-- boton ingresar -->
                        <a href="@{Secure.login}" class="boton verde full_width">&{'main_menu.login'}</a>
                    </div>
                </li>
            </ul>
        </div>
    </article>
</section>