#{extends 'main.html' /}
#{set title:'Home' /}

<h1>application main menu</h1>
<div>
    #{menuItem resource: 'CRUD.index', operation: 'GET', title: 'admin' /}
    #{menuItem resource: 'Glory.index', operation: 'GET', title: 'glory' /}
    #{menuItem resource: 'Application.printTemplate', operation: 'GET', title: 'PRINT' /}
    #{menuItem resource: 'Application.getReferenceCodes', operation: 'GET', title: 'go to references!' /}
    #{menuItem resource: 'Application.inputReference', operation: 'GET', title: 'Cash Deposit' /}
</div>
