#{extends 'main.html' /}
#{set depositTitle:'Home' /}
#{set 'moreStyles'}
#{stylesheet 'menu_principal.css' /}
#{/set}

<h1 class="casa">&{'main_menu.title'}</h1>
<div class="mensaje"><span>&{'application.choose_one'}</span></div>
<ul class="columns">
    <li class="column">
        <div class="columna_1">
            <!-- depositar_efectivo_01.html -->
            <a href="@{BillDepositController.inputReference}" class="boton naranja full_width separar">&{'main_menu.cash_deposit'}</a>
            <a href="@{EnvelopeDepositController.inputReference}" class="boton naranja full_width">&{'main_menu.envelope_deposit'}</a>
        </div>
    </li>
    <li class="column">
        <div class="columna_2">
            <a href="@{CountController.chooseCurrency}" class="boton naranja full_width separar">&{'main_menu.count'}</a>
            <a href="@{FilterController.chooseCurrency}" class="boton naranja full_width">&{'main_menu.filter'}</a>
        </div>
    </li>
</ul>
<hr />
<ul class="columns">
    <li class="column">
        <div class="columna_1">
            <a href="@{Application.otherMenu}" class="boton gris full_width">&{'main_menu.other_operations'}</a>
        </div>
    </li>
    <li class="column">
        <div class="columna_2">
            <a href="@{Secure.login}" class="boton verde full_width">&{'main_menu.login'}</a>
        </div>
    </li>
</ul>
