#{extends 'main.html' /}
#{set title:'Home' /}

<div class="row">
    <div class="span8 offset2">
        <p>
        <h1>Application main menu</h1>
        </p>
    </div>
</div>
<div class="row">
    <div class="span6">
        <fieldset>
            #{menuButton resource: 'CRUD.index', operation: 'GET', title: 'admin' /}
            #{menuButton resource: 'Application.printTemplate', operation: 'GET', title: 'PRINT' /}
            #{menuButton resource: 'Application.getReferenceCodes', operation: 'GET', title: 'go to references!' /}
            #{menuButton resource: 'GloryController.index', operation: 'GET', title: 'glory' /}
            #{menuButton resource: 'GloryManagerController.index', operation: 'GET', title: 'gloryManager' /}
        </fieldset>
    </div>
    <div class="span6">
        <fieldset>
            #{menuButton resource: 'BillDepositController.inputReference', operation: 'GET', title: 'Cash Deposit' /}
            #{menuButton resource: 'EnvelopeDepositController.inputReference', operation: 'GET', title: 'Envelope Deposit' /}
        </fieldset>
    </div>

</div>
