#{extends 'main.html' /}
#{set depositTitle:'Home' /}
<section>
    <header></header>
    <article>
        <h1 class="casa">&{'main_menu.title'}</h1>
        <div class="contenido">
            #{if ( controllers.Secure.getCurrentUser() != null && ! controllers.Secure.getCurrentUser().isGuest() ) }
            <div class="mensaje"><span>&{ 'application.wellcome', controllers.Secure.getCurrentUser().toString() } &{'application.choose_one'}</span></div>
            #{/if}
            #{else}
            <div class="mensaje"><span>&{'application.choose_one'}</span></div>
            #{/else}

            <div class="botonera">
                <ul class="on-2 columns">
                    <!-- boton depositar efectivo -->
                    #{ifAuthorized resource: 'BillDepositController.start', operation: 'GET'}
                    <li class="column">
                        <div class="columna">
                            <!-- depositar_efectivo_01.html -->
                            <a href="@{BillDepositController.start()}" class="boton naranja full_width separar">&{'main_menu.cash_deposit'}</a>
                        </div>
                    </li>
                    #{/ifAuthorized}
                    #{ifAuthorized resource: 'CountController.start', operation: 'GET'}
                    <!-- boton contar billetes -->
                    <li class="column">
                        <div class="columna">
                            <a href="@{CountController.start()}" class="boton naranja full_width separar">&{'main_menu.count'}</a>
                        </div>
                    </li>
                    #{/ifAuthorized}
                    <!-- boton depositar sobre -->
                    #{ifAuthorized resource: 'EnvelopeDepositController.start', operation: 'GET'}
                    <li class="column">
                        <div class="columna">
                            <a href="@{EnvelopeDepositController.start()}" class="boton naranja full_width">&{'main_menu.envelope_deposit'}</a>
                        </div>
                    </li>
                    #{/ifAuthorized}
                    <!-- boton separar billetes -->
                    #{ifAuthorized resource: 'FilterController.start', operation: 'GET'}
                    <li class="column">
                        <div class="columna">
                            <a href="@{FilterController.start()}" class="boton naranja full_width">&{'main_menu.filter'}</a>
                        </div>
                    </li>
                    #{/ifAuthorized}
                </ul>
            </div>
        </div>
        <hr />
        <div class="botonera">
            <ul class="on-2 columns">
                <li class="column">
                    <div class="columna">
                        <!-- boton otras operaciones -->
                        #{ifAuthorized resource: 'Application.otherMenu', operation: 'GET'}
                        <a href="@{Application.otherMenu}" class="boton gris full_width">&{'main_menu.other_operations'}</a>
                        #{/ifAuthorized}
                    </div>
                </li>
                <li class="column">
                    <div class="columna">
                        <!-- boton ingresar -->
                        #{if ( controllers.Secure.getCurrentUser() != null && ! controllers.Secure.getCurrentUser().isGuest() ) }
                        <a href="@{ Secure.logout( "Application.index" ) }" class="boton verde full_width">&{'main_menu.logout'}</a>
                        #{/if}
                        #{else}
                        <a href="@{ Secure.login}" class="boton verde full_width">&{'main_menu.login'}</a>
                        #{/else}
                    </div>
                </li>
            </ul>
        </div>

    </article>
</section>