#{extends 'main.html' /}
#{set title:'Otras operaciones' /}
<section id ="other_menu">
    <header></header>
    <a href="@{Application.index}" class="boton_top">◄ VOLVER</a>
    <article>
        <h1 class="casa">&{'other_menu.title'}</h1>
        <div class="mensaje"><span>&{'application.choose_one'}</span></div>

        <div class="botonera">
            <ul class="on-2 columns">
                <li class="column">
                    <div class="columna">
                        #{menuButton resource: 'CRUD.index', operation: 'GET', title: 'Administrar DB' /}
                    </div>
                </li>
                <li class="column">
                    <div class="columna">
                        #{menuButton resource: 'Application.printTemplate', operation: 'GET', title: 'PRINT' /}
                    </div>
                </li>
                <li class="column">
                    <div class="columna">
                        #{menuButton resource: 'GloryController.index', operation: 'GET', title: 'Glory (Comandos)' /}
                    </div>
                </li>
                <li class="column">
                    <div class="columna">
                        #{menuButton resource: 'GloryManagerController.index', operation: 'GET', title: 'Glory (Manager)' /}
                    </div>
                </li>
            </ul>
        </div>

        <hr />
        <div class="botonera_pie">
            <ul class="columns">
                <li class="column">
                    <div class="columna">
                    </div>
                </li>
                <li class="column">
                    <div class="columna">
                        <a href="@{Secure.login}" class="boton verde full_width">&{'main_menu.login'}</a>
                    </div>
                </li>
            </ul>
        </div>
    </article>
</section>

