#{extends 'main.html' /}
#{set title:'Otras operaciones' /}
<section id ="menu_principal">
    <header></header>
    <a href="@{Application.index}" class="boton_top">◄ &{ 'application.back' }</a>
    <article>
        <h1 class="casa">&{'other_menu.title'}</h1>
        <div class="mensaje"><span>&{'application.choose_one'}</span></div>

        <div class="botonera">
            <ul class="on-2 columns">
                #{otherMenuButton resource: 'CRUD.index', operation: 'GET', title: 'Administrar DB' /}
                #{otherMenuButton resource: 'Application.hardwareMenu', operation: 'GET', title: 'Admin Hardware' /}
                #{otherMenuButton resource: 'Application.printersMenu', operation: 'GET', title: 'Printers' /}
                #{otherMenuButton resource: 'ReportController.index', operation: 'GET', title: 'Reports' /}
            </ul>
        </div>
        <hr />
        <div class="botonera_pie">
            <ul class="columns">
                <li class="column">
                    <div class="columna">
                    </div>
                </li>
                <li class="column">
                    <div class="columna">
                        <!-- boton ingresar -->
                        <a href="@{Secure.login}" class="boton verde full_width">&{'main_menu.login'}</a>
                    </div>
                </li>
            </ul>
        </div>
    </article>
</section>