#{extends 'main.html' /}

<div>
    <h1>Ingrese referencia</h1>
    <form action="${request.url}" method="POST">
        #{ifErrors}
        <div class="error">
            All fields are required!
        </div>
        #{/ifErrors}

        <div>
            <label for="reference1">Reference1</label>
            <select name="reference1">
                #{list items:moneyUnits, as:'moneyUnit'}
                <li class="numvalue">${moneyUnit.toString()}</li>
                <option value="${moneyUnit.numericId}">${moneyUnit.textId}</option>
                #{/list}
            </select>
        </div>

        <div>
            <input class="btn btn-primary btn-large menu-button-fixed-size-btn" type="submit" value="Contar" />
            <a class="btn btn-primary btn-large menu-button-fixed-size-btn" href="@{Application.index()}">Cancel</a>
        </div>
    </form>
