!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}">

        <link rel="shortcut icon" type="image/png" href="@{'/public/images/'}/${play.configuration['style.favicon']}">
        <!-- yui reset -->
        <link rel="stylesheet" media="screen" type="text/css" href="@{'/public/stylesheets/yui/reset.css'}">
        <!-- local css -->
        <link rel="stylesheet" media="screen" type="text/css" href="@{'/public/stylesheets/base.css'}">
        <!-- elasticss -->
        <link rel="stylesheet" media="screen" type="text/css" href="@{'/public/stylesheets/elastic.css'}">
        <style>
            header {
                background: url('../public/images/${play.configuration['style.logo']}') 94% 50% no-repeat;
            }
            section {
                background: url('../public/images/${play.configuration['style.background']}');
            }
            .boton_top {
                background: url('../public/images/${play.configuration['style.button_top']}') top left repeat-y;
            }
        </style>
        <!-- mottie -->
        #{if ( play.configuration[ 'style.useMottieKeyboard' ] ) }
        <link rel="stylesheet"  media="screen" type="text/css" href="@{'/public/stylesheets/mottie.css'}" />
        #{/if}
        #{get 'moreStyles' /}
    </head>

    <body>
        #{doLayout /}
    </body>
    <!-- javascript Placed at the end of the document so the pages load faster -->
    <!-- jquery -->
    <script src="@{'/public/javascripts/jquery/jquery-1.8.0.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <!-- jquery ui -->
    <script src="@{'/public/javascripts/jquery/jquery-ui-1.8.23.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <!-- jquery-tools -->
    <script src="@{'/public/javascripts/jquery/jquery.tools.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <!-- mottie -->
    #{if ( play.configuration[ 'style.useMottieKeyboard' ] ) }
    <script src="@{'/public/javascripts/jquery/jquery.keyboard.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script>
        $(function(){
            $(":text, [type='password'], textarea").keyboard();
            $("[type='number']").keyboard( { layout : 'num' } );
        });
    </script>

    #{/if}
    <!-- default value -->
    <script src="@{'/public/javascripts/jquery/jquery.defaultvalue.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <!-- elasticss -->
    <script src="@{'/public/javascripts/elastic.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <!-- local js -->
    <script src="@{'/public/javascripts/code.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="@{'/public/javascripts/html5.js'}"></script>
    <![endif]-->
    #{get 'moreScripts' /}
</html>
