<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}">
        <meta charset="${_response_encoding}">
        #{if play.mode.isProd()}
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-responsive-min.css'}">
        #{/if}
        #{else}
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap_laguardiana.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-responsive.css'}">
        #{/else}
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">

        <!-- 
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
        -->
    </head>

    <body class="container">
        <section>
            <div class="row" >
                <div class="span1 header">
                    <a href="@{Application.index()}" class="homelink"><img src="@{'/public/images/logo.gif'}" alt="Prosegur"></a>		
                    <p class ="userLink">
                        Welcome 
                        #{ if ( user != null && ! user.isGuest() )}
                        ${user.username}! <a href="@{Secure.logout()}">Log out</a>
                        #{/if}
                        #{else}
                        <a href="@{Secure.login()}">Login</a>
                        #{/else}
                    </p>
                </div>
            </div>
        </section>
        <section>
            #{if flash.error}
            <p class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">&times;</a> <strong>ERROR</strong>
                &{flash.error}
            </p>
            #{/if}
            #{if flash.success}
            <p class="alert alert-success">
                <a class="close" data-dismiss="alert" href="#">&times;</a> <strong>EXITO</strong>
                Comando ejecutado con exito
                &{flash.success}
            </p>
            #{/if}
        </section>
        <section>
            <div>
                #{doLayout /}
            </div>
        </section>
        <footer>
            <div id="footer"></div>
        </footer>
    </body>

    <!-- javascript Placed at the end of the document so the pages load faster -->
    <script src="@{'/public/javascripts/jquery-1.7.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="@{'/public/javascripts/html5.js'}"></script>
    <![endif]-->
    #{get 'moreScripts' /}

</html>
