#{extends 'main.html' /}
<section>
    <header></header>
    <nav>
        <a href="#" class="boton_top clickBack">◄ &{ 'application.back' }</a>
    </nav>
    <article>
        <!--        <div class="contenido1">-->
        <div>
            #{doLayout /}
        </div>
        <div class="botonera">
            <ul class="on-2 unit">
            </ul>
        </div>
    </article>
</section>
#{set 'moreScripts'}
<script type="text/javascript" charset="${_response_encoding}">
    $(function() {
        $(".clickBack").click(function(e) {
            {
                var defaultLocation = "${ backUrl }";
                var oldHash = window.location.hash;

                history.back(); // Try to go back

                var newHash = window.location.hash;

                if (newHash === oldHash &&
                        (typeof(document.referrer) !== "string" || document.referrer === "")) {
                    window.location.href = defaultLocation;
                }
                //e.preventDefault();
                return false; // stop event propagation and browser default event
            }
        });
    });
</script>

#{/set}
