#{extends 'main.html' /}
%{  def action = "$request.action";
def prev_url = actionBridge."$action".call(prevPage);
def next_url = actionBridge."$action".call(nextPage);
}%
<section>
    <header></header>
    <a href="#" class="boton_top clickBack">◄ &{ 'application.back' }</a>
    <article style="padding: 35px 1%; 0 1%;">
        <div class="contenido_grande" style="overflow: auto;">
            <div style="text-align: center;">
                #{form @list(), 'id': 'mainForm', 'method' : 'GET' }
                <ul>
                    <li  style="display: inline;">Fecha desde: <input class="datepicker" type="datetime" name="startDate" value="${startDate?.format('dd/MM/yyyy')}" /></li>
                    <li  style="display: inline;">Fecha hasta: <input class="datepicker" type="datetime" name="endDate" value="${endDate?.format('dd/MM/yyyy')}" /></li>
                </ul>
                <input type="hidden" name="page" value="${page}">
                <input type="hidden" name="bagId" value="${bagId}">
                <input type="hidden" name="zId" value="${zId}">
                <input type="hidden" name="id">
                #{/form}
            </div>
            #{doLayout /}
        </div>
        <hr>
        <div class="botonera">
            <ul class="on-4 columns">
                <li class="column">
                    <div class="columna">
                        <a href="#" id="first" class="boton ${play.configuration['style.button_color']} full_width separar">first</a>
                    </div>
                </li>
                <li class="column">
                    <div class="columna">
                        <a href="#" id="prev" class="boton ${play.configuration['style.button_color']} full_width separar">prev page</a>
                    </div>
                </li>
                <li class="column">
                    <div class="columna">
                        <a href="#" id="next" class="boton ${play.configuration['style.button_color']} full_width separar">next page</a>
                    </div>
                </li>
                <li class="column">
                    <div class="columna">
                        <a href="#" id="last" class="boton ${play.configuration['style.button_color']} full_width separar">end</a>
                    </div>
                </li>
            </ul>
        </div>
    </article>
</section>
#{set 'moreScripts'}
<script type="text/javascript" charset="${_response_encoding}">
    function getPage() {
        var form = $( "#mainForm" );
        var data = $.get( form.attr( "action" ) + "?" + form.serialize(),
        function(data) {
            $('body').html( data );
            //            $('.result').html(data);
        });    
    }
    $(function() {
        $( ".datepicker" ).datepicker({
            dateFormat : "dd/mm/yy",
            onSelect: function(date) {
                $( "#mainForm" ).submit();
            }
        });
        $( "#first" ).click(function( event ) {
            $( "[name = page]" ).val( 1 );
            getPage();
            //            $( "#mainForm" ).submit();
            event.preventDefault();
        });
        $( "#prev" ).click(function( event ) {
            $( "[name = page]" ).val( parseInt( $( "[name = page]" ).val() ) - 1 );
            getPage();
            //            $( "#mainForm" ).submit();
            event.preventDefault();
        });
        $( "#next" ).click(function( event ) {
            $( "[name = page]" ).val( parseInt( $( "[name = page]" ).val() ) + 1 );
            getPage();
            //            $( "#mainForm" ).submit();
            event.preventDefault();
        });
        $( "#last" ).click(function( event ) {
            $( "[name = page]" ).val( ${totalPage} );
            getPage();
            //            $( "#mainForm" ).submit();
            event.preventDefault();
        });
        $( ".submitForm" ).click(function( event ) {
            $( "[name = id]" ).val( $(this).attr( "id" ) );
            $( "#mainForm" ).attr("action", $(this).attr("href") ).submit();
            event.preventDefault();
        });
        $( ".clickBack" ).click( function( e ) {
            {
                var defaultLocation = "@{MenuController.reportMenu(1)}";
                var oldHash = window.location.hash;
                
                history.back(); // Try to go back
                
                var newHash = window.location.hash;
                
                if( newHash === oldHash &&
                    (typeof(document.referrer) !== "string" || document.referrer  === "")){
                    window.location.href = defaultLocation;
                }
                //e.preventDefault();
                return false; // stop event propagation and browser default event
            }
        });
    });
</script>
#{/set}



