#{extends 'bootstrap_main.html' /}
#{set title:'Glory (Manager)' /}
<div class="row">
    <div class="span11 well">
        <table class="table table-bordered table-striped" >
            <thead>
                <tr>
                    #{list items:billData, as:'b'}
                    <th>
                        ${b.billType}
                    </th>
                    #{/list}
                </tr>
            </thead>
            <tbody>
                <tr>
                    #{list items:billData, as:'b'}
                    <td id="BID_${b.billType.billTypeId}">
                        ${b.quantity}
                    </td>
                    #{/list}
                </tr>
            </tbody>
        </table>

    </div>
    <div class="span12">
        #{ifAuthorized resource: 'GloryManagerController.count', operation: 'GET'}
        <div>
            #{form @count(), class : 'form-inline well' }

            #{list items:billData, as:'b'}
            <div class="input-prepend input-append">
                <span class="add-on">${b.billType}</span><input id="DID_${b.billType.billTypeId}" value="${b.desiredQuantity}" class="input-mini" name="billTypeIds.${b.billType.billTypeId}" type="text">
            </div>
            #{/list}
            <label for="currency">Currency</label>
            <select class="input-mini" id="currency" name="currency">
                #{list items:currencyList, as:'b'}
                #{if ( b == 0 ) }
                <option value="0" #{if ( b == currency )}selected="selected"#{/if}>-</option>
                #{/if}
                #{else}
                <option value="${b}" #{if ( b == currency )}selected="selected"#{/if}>${b}</option>
                #{/else}
                #{/list}
            </select>
            <button type="submit" class="btn btn-primary btn-large">Count</button>
        </div>
        </fieldset>
        #{/}
        #{/ifAuthorized}
    </div>
</div>

<div class="row">
    <div class="span3">
        <p><a class="btn btn-primary btn-large glory-button-fixed-size-btn" href="@{GloryManagerController.cancelDeposit()}">CancelDeposit</a></p>
        <p><a class="btn btn-primary btn-large glory-button-fixed-size-btn" href="@{GloryManagerController.storeDeposit()}">StoreDeposit</a></p>
        <p><a class="btn btn-primary btn-large glory-button-fixed-size-btn" href="@{GloryManagerController.reset()}">Reset</a></p>
        <p><a class="btn btn-primary btn-large glory-button-fixed-size-btn" href="@{GloryManagerController.storingErrorReset()}">StoringErrorReset</a></p>
        <p><a class="btn btn-primary btn-large glory-button-fixed-size-btn" href="@{GloryManagerController.envelopeDeposit()}">EnvelopeDeposit</a></p>
    </div>
</div>

#{set 'moreScripts'}
<script type="text/javascript" charset="${_response_encoding}">
    var waiting = false;
    
    // Reload the whole messages panel
    function refresh() {
        if ( waiting ) {
            return;
        }
        waiting = true;
        $.getJSON( '@{GloryManagerController.index}', function( data ) {
            waiting = false;
            var error = data[0];
            if ( error == null || error.toString() == 'null' ) {
                $('#error').hide();
            } else {
                $('#error').show();                
                $('#error_msg').html( error )
            }
            var success = data[1];
            if ( success == null || success.toString() == 'null' ) {
                $('#success').hide();
            } else {
                $('#success').show();                
                $('#success_msg').html( success )
            }
            var billData = data[ 2 ]
            for( var i = 0 ; i < billData.length; i ++ ) {
                var nid = '#BID_' + billData[ i ].billType.billTypeId.toString();
                $( nid ).html( billData[ i ].quantity);
            }
            for( var i = 0 ; i < billData.length; i ++ ) {
                var nid = '#DID_' + billData[ i ].billType.billTypeId.toString();
                $( nid ).html( billData[ i ].desiredQuantity);
            }
            $( "currency").html( data[3] );
        })
    }
    // Call refresh every .5 seconds
    setInterval(refresh, 1000)
    refresh()
</script>
#{/set}
