#{extends 'main.html' /}
#{set title:'Glory' /}
<div class="row">
    <div class="span11 well">
        <table class="table table-bordered table-striped" >
            <thead>
                <tr>
                    #{list items:billData, as:'b'}
                    <th>
                        ${b.billType}
                    </th>
                    #{/list}
                </tr>
            </thead>
            <tbody>
                <tr>
                    #{list items:billData, as:'b'}
                    <td id="BID_${b.billType.billTypeId}">
                        ${b.quantity}
                    </td>
                    #{/list}
                </tr>
            </tbody>
        </table>

    </div>
    <div class="span12">
        #{ifAuthorized resource: 'GloryManagerController.count', operation: 'GET'}
        <div>
            #{form @count(), class : 'form-inline well' }

            #{list items:billData, as:'b'}
            <div class="input-prepend input-append">
                <span class="add-on">${b.billType}</span><input id="DID_${b.billType.billTypeId}" value="${b.desiredQuantity}" class="input-mini" name="billTypeIds.${b.billType.billTypeId}" type="text">
            </div>
            #{/list}
            <button type="submit" class="btn btn-primary btn-large">Count</button>
        </div>
        </fieldset>
        #{/}

    </div>
    #{/ifAuthorized}

</div>

<div class="row">
    <div class="span3">
        #{menuButton resource: 'GloryManagerController.cancelDeposit', operation: 'GET', title: 'CancelDeposit' /}
        #{menuButton resource: 'GloryManagerController.storeDeposit', operation: 'GET', title: 'StoreDeposit' /}
        #{menuButton resource: 'GloryManagerController.reset', operation: 'GET', title: 'Reset' /}
        #{menuButton resource: 'GloryManagerController.storingErrorReset', operation: 'GET', title: 'StoringErrorReset' /}
        #{menuButton resource: 'GloryManagerController.envelopeDeposit', operation: 'GET', title: 'EnvelopeDeposit' /}
    </div>
</div>

#{set 'moreScripts'}
<script type="text/javascript" charset="${_response_encoding}">
    var waiting = false;
    
    // Reload the whole messages panel
    function refresh() {
        if ( waiting ) {
            return;
        }
        waiting = true;
        $.getJSON( '@{GloryManagerController.index}', function( data ) {
            waiting = false;
            var error = data[0];
            if ( error == null || error.toString() == 'null' ) {
                $('#error').hide();
            } else {
                $('#error').show();                
                $('#error_msg').html( error )
            }
            var success = data[1];
            if ( success == null || success.toString() == 'null' ) {
                $('#success').hide();
            } else {
                $('#success').show();                
                $('#success_msg').html( success )
            }
            var billData = data[ 2 ]
            for( var i = 0 ; i < billData.length; i ++ ) {
                var nid = '#BID_' + billData[ i ].billType.billTypeId.toString();
                $( nid ).html( billData[ i ].quantity);
            }
            for( var i = 0 ; i < billData.length; i ++ ) {
                var nid = '#DID_' + billData[ i ].billType.billTypeId.toString();
                $( nid ).html( billData[ i ].desiredQuantity);
            }
        })
    }
    // Call refresh every .5 seconds
    setInterval(refresh, 1000)
    refresh()
</script>
#{/set}
