#{extends 'main.html' /}
#{set title:'Glory (Manager)' /}
#{form @count() }

<div style="background: wheat;">
    <header></header>
    <!-- link volver -->
    <a id ="backButton" href="@{Application.otherMenu()}" class="boton_top">◄ &{ 'application.back' }</a>
    <!-- /link volver -->
    <ul class="columns">
        <li class="fixed column" style="width: 2%">
            &nbsp;
        </li>
        <li class="fixed column" style="width: 40%">
            <table class="full_width">
                <thead>
                    <tr>
                        <th>&{ 'counting_page.denomination' }</th>
                        <th>&{ 'counting_page.quantity' }</th>
                        <th>&{ 'counting_page.total' }</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- detalle de billetes -->
                    %{ total = 0; cnt_total = 0;}%
                    #{list items:billData, as:'b'}
                    <tr id="BTRID_${b.tid}">
                        <td id="bill_denomination">${b.d}</td>
                        <td id="bill_quantity">${b.q}</td>
                        <td id="bill_total">${b.d  * b.q}</td>
                        <td>
                            <input id="DID_${b.billType.billTypeId}" value="${b.dq}" name="billTypeIds.${b.billType.billTypeId}" type="text">
                        </td>
                        %{ total += b.d  * b.q; cnt_total += b.q }%
                    </tr>
                    #{/list}
                    <!-- /detalle de billetes -->
                </tbody>

                <tfoot>
                    <tr>
                        <td>&{ 'counting_page.totals' }</td>
                        <!-- totales -->
                        <td id ="cnt_total">${ cnt_total }</td>
                        <td id ="total">${ total }</td>
                        <!-- /totales -->
                    </tr>
                </tfoot>
            </table>
        </li>
        <li class="fixed column" style="width: 5%">
            &nbsp;
        </li>

        <li class="fixed column" style="width: 15%">
            <div class="columna_1">
                <label for="currency">Currency</label>
                <select id="currency" name="currency" class="full_width">
                    #{list items:currencyList, as:'b'}
                    #{if ( b == 0 ) }
                    <option value="0" #{if ( b == currency )}selected="selected"#{/if}>-</option>
                    #{/if}
                    #{else}
                    <option value="${b}" #{if ( b == currency )}selected="selected"#{/if}>${b}</option>
                    #{/else}
                    #{/list}
                </select>
                <button type="submit" class="boton naranja full_width">Count</button>
            </div>
            Status: <div id="statusMsg" class="mensaje">${ status }</div>
            Error: <div id="errorMsg" class="mensaje">${ error }</div>
        </li>
        <li class="fixed column" style="width: 5%">
            &nbsp;
        </li>
        <li class="fixed column" style="width: 15%">
            <a class="boton naranja full_width" href="@{GloryManagerController.cancelDeposit()}">CancelDeposit</a>
            <a class="boton naranja full_width" href="@{GloryManagerController.storeDeposit()}">StoreDeposit</a>
            <a class="boton naranja full_width" href="@{GloryManagerController.reset()}">Reset</a>
            <a class="boton naranja full_width" href="@{GloryManagerController.storingErrorReset()}">StoringErrorReset</a>
            <a class="boton naranja full_width" href="@{GloryManagerController.envelopeDeposit()}">EnvelopeDeposit</a>
        </li>
    </ul>
</div>
#{/form}

#{set 'moreScripts'}
<script type="text/javascript" charset="${_response_encoding}">
    var waiting = false;
    
    // Reload the whole messages panel
    function refresh() {
        if ( waiting ) {
            return;
        }
        waiting = true;
        $.getJSON( '@{GloryManagerController.index}', function( data ) {
            waiting = false;
            var error = data[0];
            if ( error == null || error.toString() == 'null' ) {
                $( "#errorMsg" ).html( "NONE" );
            } else {
                $( "#errorMsg" ).html( error );
            }
            var success = data[1];
            if ( success == null || success.toString() == 'null' ) {
                $( "#statusMsg" ).html( "NONE" );
            } else {
                $( "#statusMsg" ).html( success );
            }
            var total = 0;
            var cnt_total = 0;
            for( var i = 0 ; i < billData.length; i ++ ) {
                var nid = '#BTRID_' + billData[ i ].billTypeId;
                $( nid ).children( '#bill_denomination' ).html( billData[ i ].denomination );
                $( nid ).children( '#bill_quantity' ).html( billData[ i ].quantity );
                var t = ( billData[ i ].denomination * billData[ i ].quantity );
                $( nid ).children( '#bill_total' ).html( t );
                total += t;
                cnt_total += billData[ i ].quantity;
            }
            $( '#cnt_total' ).html( cnt_total );
            $( '#total' ).html( total );
            for( var i = 0 ; i < billData.length; i ++ ) {
                var nid = '#DID_' + billData[ i ].billTypeId;
                $( nid ).html( billData[ i ].desiredQuantity);
            }
            $( "currency").html( data[3] );
        })
    }
    // Call refresh every 1.5 seconds
    setInterval(refresh, 500);
    refresh();
</script>
#{/set}



