#{extends 'main.html' /}
#{set depositTitle:'Home' /}
<section>
    <header></header>
    <article>
        <h1 class="casa">&{'main_menu.title'}</h1>
        <div class="contenido_grande">
            #{if ( controllers.Secure.getCurrentUser() != null && ! controllers.Secure.getCurrentUser().isGuest() ) }
            <div class="mensaje">
                <span>
                    &{ 'application.wellcome' }&nbsp;#{usernameTag cuser:controllers.Secure.getCurrentUser()/}&nbsp;&{'application.choose_one'}
                </span>
            </div>
            #{/if}
            #{else}
            <div class="mensaje"><span>&{'application.choose_one'}</span></div>
            #{/else}

            <div class="botonera">
                <ul class="on-2 unit">
                    #{menuButtons buttons: buttons, perms: perms/}
                </ul>
            </div>
            &{'application.bagTotals', bagTotals.bills, bagTotals.envelopes }<br/>
            &{'application.bagSpace', bagFreeSpace }<br/>
            <div id="bagFull" style="color: red; display: none;">&{'application.bagFull'}<br/></div>
            <div id="bagError" style="color: red; display: none;">&{'application.bagError'}<br/></div>
            <div id="bagRemoved" style="color: red; display: none;">&{'application.bagRemoved'}</div>
            <div id="gate1_ready" style="color: red; display: none;">&{'application.gate1_not_ready'}</div>
            <div id="gate2_ready" style="color: red; display: none;">&{'application.gate2_not_ready'}</div>
            <div id="door_ready" style="color: red; display: none;">&{'application.door_not_ready'}</div>
            <div id="lockedByUser" style="color: red; display: none;">&{'application.lockedByUser', lockedByUser }</div>
            <div id="checkPrinter" style="color: red; display: none;">&{'application.checkPrinter'}</div>
        </div>
        <hr />
        #{menuBottomButtons}
        <!-- boton otras operaciones -->
        #{ifAuthorized resource: 'MenuController.otherMenu', operation: 'GET', fill: 1}
        <a href="@{MenuController.otherMenu}" class="boton gris full_width">&{'main_menu.other_operations'}</a>
        #{/ifAuthorized}
        #{/menuBottomButtons}
    </article>
</section>


#{set 'moreScripts'}
<script src="@{'/public/javascripts/main_loop.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script type="text/javascript" charset="${_response_encoding}">
    doRefresh = function () {
        $.getJSON('@{MenuController.mainMenu}', function (data) {
            var checkPrinter = data[ 0 ];
            var bagReadyCondition = data[ 1 ];
            var bagFull = data[ 2 ];
            if (checkPrinter) {
                $("#checkPrinter").show();
            } else {
                $("#checkPrinter").hide();
            }

            var s = false;
            if (!s && bagReadyCondition.error) {
                $("#bagError").show();
                s = true;
            } else {
                $("#bagError").hide();
            }
            if (!s && bagFull) {
                $("#bagFull").show();
                s = true;
            } else {
                $("#bagFull").hide();
            }
            if (!s && bagReadyCondition.bag_removed) {
                $("#bagRemoved").show();
                s = true;
            } else {
                $("#bagRemoved").hide();
            }
            var props = ["door_ready", "gate1_ready", "gate2_ready"];
            for (var i in props) {
                if (!s && !bagReadyCondition[props[i]]) {
                    $("#" + props[i]).show();
                    s = true;
                } else {
                    $("#" + props[i]).hide();
                }
            }
            doneRefresh();
        }).fail(function () {
            window.location.href = "@{Secure.login()}"
        });

    }
</script>
#{/set}