#{if ( ! play.configuration[ 'style.useHardwareKeyboard' ] ) }
<div id="popup_keyboard_qwerty" class="popup_keyboard_qwerty">
    <div class="keyboard">
        <input type="hidden" id="popup_keyboard_qwerty_tracked_input" />
        <input type="text" id="popup_keyboard_qwerty_input" class="full_width" />
        <ul class="on-11 same-height columns">

            <li class="column"><span><a class="element key" data-key="1">1</a></span></li>
            <li class="column"><span><a class="element key" data-key="2">2</a></span></li>
            <li class="column"><span><a class="element key" data-key="3">3</a></span></li>
            <li class="column"><span><a class="element key" data-key="4">4</a></span></li>
            <li class="column"><span><a class="element key" data-key="5">5</a></span></li>
            <li class="column"><span><a class="element key" data-key="6">6</a></span></li>
            <li class="column"><span><a class="element key" data-key="7">7</a></span></li>
            <li class="column"><span><a class="element key" data-key="8">8</a></span></li>
            <li class="column"><span><a class="element key" data-key="9">9</a></span></li>
            <li class="column"><span><a class="element key" data-key="0">0</a></span></li>
            <li class="column"><span><a class="element key" data-key="{backspace}">←</a></span></li>

            <li class="column"><span><a class="element key" data-key="Q">Q</a></span></li>
            <li class="column"><span><a class="element key" data-key="W">W</a></span></li>
            <li class="column"><span><a class="element key" data-key="E">E</a></span></li>
            <li class="column"><span><a class="element key" data-key="R">R</a></span></li>
            <li class="column"><span><a class="element key" data-key="T">T</a></span></li>
            <li class="column"><span><a class="element key" data-key="Y">Y</a></span></li>
            <li class="column"><span><a class="element key" data-key="U">U</a></span></li>
            <li class="column"><span><a class="element key" data-key="I">I</a></span></li>
            <li class="column"><span><a class="element key" data-key="O">O</a></span></li>
            <li class="column"><span><a class="element key" data-key="P">P</a></span></li>
            <li class="column"></li>
            <li class="column"><span><a class="element key" data-key="A">A</a></span></li>
            <li class="column"><span><a class="element key" data-key="S">S</a></span></li>
            <li class="column"><span><a class="element key" data-key="D">D</a></span></li>
            <li class="column"><span><a class="element key" data-key="F">F</a></span></li>
            <li class="column"><span><a class="element key" data-key="G">G</a></span></li>
            <li class="column"><span><a class="element key" data-key="H">H</a></span></li>
            <li class="column"><span><a class="element key" data-key="J">J</a></span></li>
            <li class="column"><span><a class="element key" data-key="K">K</a></span></li>
            <li class="column"><span><a class="element key" data-key="L">L</a></span></li>
            <li class="span-2 column"><span><a class="element key" data-key=" ">ESPACIO</a></span></li>

            <li class="column"><span><a class="element key" data-key="Z">Z</a></span></li>
            <li class="column"><span><a class="element key" data-key="X">X</a></span></li>
            <li class="column"><span><a class="element key" data-key="C">C</a></span></li>
            <li class="column"><span><a class="element key" data-key="V">V</a></span></li>
            <li class="column"><span><a class="element key" data-key="B">B</a></span></li>
            <li class="column"><span><a class="element key" data-key="N">N</a></span></li>
            <li class="column"><span><a class="element key" data-key="M">M</a></span></li>
            <li class="column"><span><a class="element key" data-key=".">.</a></span></li>
            <li class="column"><span><a class="element key" data-key="-">-</a></span></li>

            <li class="span-2 column"><span><a class="element key" data-key="{accept}" data-type="qwerty">OK</a></span></li>

        </ul>
    </div>
</div>
#{/if}

